<!-- Start Home section -->
<div id="home" class="home-section">
    <section class="clearfix">

        <div id="flexCarousel" class="slider">

            <div class="flex-viewport" role="listbox">
                <ul class="slides">
                    <li class="slide">
                        <div class="hero-banner banner-1">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
                                <div class="banner-lg">
                                    <img src="../assests/img/banner-lg.png" alt="banner lg">
                                </div>
                                <div class="banner-title">
                                   People are the most important asset of your company. We help you keep the best employees excelling.
                                </div>
                                <div class="banner-content bn1">
                                    Simple 
                                </div>
                                <div class="banner-content bn2">
                                    Convenient 
                                </div>
                                <div class="banner-content bn3">
                                    Customized
                                </div>
                                <div class="banner-reg">
                                    <a href="#contact">Free Demo</a>
                                </div>
                            </div>
                        </div>
                        <!--<a href="#contact">
                            <img src="../assests/img/banner3.jpg" alt="banner 3">
                        </a>-->
                    </li>
                    <li class="slide">
                        <div class="hero-banner banner-2">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
                                <div class="banner-lg">
                                    <img src="../assests/img/banner-lg.png" alt="banner lg">
                                </div>
                                <div class="banner-title">
                                   Cloudjet KPI brings innovative solutions to manage employee performance across your organizations 
                                </div>
                                <div class="banner-content bn1">
                                    Flexible  
                                </div>
                                <div class="banner-content bn2">
                                    Affordable  
                                </div>
                                <div class="banner-content bn3">
                                    Fast
                                </div>
                                <div class="banner-reg">
                                    <a href="#contact">Free Demo</a>
                                </div>
                            </div>
                        </div>
                        <!--<a href="#contact">
                            <img src="../assests/img/banner3.jpg" alt="banner 3">
                        </a>-->
                    </li>
                    <li class="slide">
                        <div class="hero-banner banner-3 item3">
                            <div class="col-lg-5 col-md-5 col-sm-6 text-right">
                                <div class="banner-lg">
                                    <img src="../assests/img/banner-lg.png" alt="banner lg">
                                </div>
                                <div class="banner-title">

                                    The easiest to implement 
                                    Balanced Scorecards
                                </div>
                                <div class="banner-content bn1">
                                    Simple process 
                                </div>
                                <div class="banner-content bn2">
                                    Easy to use 
                                </div>
                                <div class="banner-content bn3">
                                    Highly adaptable
                                </div>
                                <div class="banner-reg">
                                    <a href="#contact">DEMO NOW</a>
                                </div>
                            </div>
                        </div>
                        <!--<a href="#contact">
                            <img src="../assests/img/banner3.jpg" alt="banner 3">
                        </a>-->
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!-- End Home section -->


<!-- Start Features section -->
<div id="optimize">
    <section>
        <div class="text-center">
            <h1 class="opt-title">
            Increase productivity & performance by measuring right KPIs in right way. 

            </h1>
        </div>
        <div class="row-fluid text-center opt-thumbs">
			<div class="opt-item">
				<div class="opt-item-title">
					<h3>
						Top notch approach 
						</h3>
				</div>
				<div class="opt-app">
					<div class="opt-app-title"></div>
					<div class="opt-over"></div>
					<!--div class="opt-app-desc">
						Ứng dụng phương pháp quản trị nhân sự theo hiệu suất của những doanh nghiệp hàng đầu
					</div-->
				</div>
			</div>
			<div class="opt-item">
				<div class="opt-item-title">
					<h3>
                    Measure and Evaluate performance easily 
						
						</h3>
				</div>
				<div class="opt-app opt-kpi">	
					<div class="opt-app-title"></div>
					<div class="opt-over"></div>
					<!--div class="opt-app-desc">
						Đánh giá hiệu quả làm việc của công ty, phòng ban và năng lực nhân viên với những mục tiêu và KPI rõ
						ràng.
					</div-->
				</div>
			</div>
			
			<div class="opt-item">
				<div class="opt-item-title">
					<h3>
						Strategic Management tool 
						</h3>
				</div>
				<div class="opt-app opt-manage">	
					<div class="opt-app-title"></div>
					<div class="opt-over"></div>
					<!--div class="opt-app-desc">
						Xây dựng bản đồ KPI & và quản trị chiến lược & nhân sự theo mô hình BSC
					</div-->
				</div>
			</div>
        </div>
        <div class="clearfix"></div>

    </section>
</div>
<!-- End Features section -->

<div id="building">
    <section>
        <div class="text-center build-head">
            <h1 class="opt-title">
            THE EASIEST WAY TO BUILD STRATEGY MAP & OPTIMIZE PERFORMANCE


              
            </h1>
        </div>

        <div class="build-content">
            <img src="../assests/img/building2.png" alt="building2">
        </div>
    </section>
</div>
<!-- Start Team section -->
<div id="team" class="team-section">
    <section class="section clearfix">
        <div class="row-fluid text-center">
            <h1 class="opt-title">
                Values 
            </h1>
        </div>
        <div class="row-fluid text-center">
            <div class="thumb-item ">
                <div class="thumb">
                    <img src="../assests/img/val-1.jpg"
                         alt="Manage objectives & KPI for each position">
                </div>
                <p class="thumb-title">Manage objectives for each position</p>
            </div>
            <div class="thumb-item">
                <div class="thumb">
                    <img
                            src="../assests/img/val-2.jpg"
                            alt="Identify the skill gap of each employee">
                </div>
                <p class="thumb-title">Identify the skill gap of each employee.</p>
            </div>
            <div class="thumb-item">
                <div class="thumb">
                    <img src="../assests/img/val-3.jpg"
                         alt="360° feedback">
                </div>
                <p class="thumb-title">360° feedback</p>
            </div>
            <div class="thumb-item">
                <div class="thumb">
                    <img src="../assests/img/val-4.jpg"
                         alt="Identify underperformers">
                </div>
                <p class="thumb-title">Identify underperformers</p>
            </div>
            <div class="thumb-item">
                <div class="thumb">
                    <img src="../assests/img/val-5.jpg"
                         alt="Manage KPIs & Generate online report"/>
                </div>
                <p class="thumb-title">Manage KPIs & Generate online report</p>
            </div>
            <div class="thumb-item">
                <div class="thumb">
                    <img src="../assests/img/val-6.jpg"
                         alt="Build up training and development plan"/>
                </div>
                <p class="thumb-title">Build up training and development plan</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</div>
<!-- End Team section -->

<div id="product">
    <section>
        <div class="text-center pro-head">
            <h1 class="opt-title">Cloudjet KPI at a glance
            </h1>
        </div>
        <div class="pro-desc">
            <div class="col-md-6 col-lg-6 col-ms-6 float-right">
                <img class="pro-img" src="../assests/img/pro-img.png" alt="pro img">
            </div>
            <div class="col-md-6 col-lg-6 col-ms-6 float-right">
                <div class="pro-desc-title">

                    One page for everything so that you can start right away!
                </div>
                <!--div class="pro-desc-content">
					Chỉ vài click chuột, bạn có thể theo dõi một cách trực quan<br>
					và rất chi tiết về hiệu suất làm việc của từng Bộ Phận,<br>
					Nhân Viên hay từng nhóm mục tiêu & KPI Chiến lược.                    
                </div-->
                <a href="#contact" class="bt-trial">DEMO</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </section>
</div>

<!-- Start customer section -->
<div id="customer">
    <section class="section clearfix">
        <div class="cus-head">
            <h2 class="opt-title">Global Clients </h2>
        </div>

            <!-- New customer section -->
            <div id="ttr-customer">
                <div class="container">
                    <div class="customer-img">
                        <img src="../assests/img/client.png" alt="Khách hàng của chúng tôi">
                    </div>
                    <!--div class="large-12 columns">
                        <div class="owl-carousel owl-theme owl-loaded">
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/comscore.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/ninhvanbay.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/grabtaxi.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/vmax.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/ited.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/phuongnam.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/mekong.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/ivc.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/itracker.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/dna.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/domino.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/kyna.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/idp.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/thevoice.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/vinhphat.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/vietan.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/levis.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/acet.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/mygialac.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/vietanh.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/ashico.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="nhipsongso" src="../assests/img/handspan.png">
                                </div>
                            </div>
                            
                        </div>
                    </div-->
                </div>
            </div>


            <div class="news">
                <h3 class="news-title">NEWS about CloudJet solutions</h3>
                <ul class="news-list">
                    <li>
                        <div class="new-item">
                            <img alt="nhipsongso" src="../assests/img/nhipsongso.png">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_ietstock" alt="ietstock" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAAfAQMAAABUGOjkAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFgwwAAAGTAAGerc92AAAAAElFTkSuQmCC">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_saigontime" alt="saigontime" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIUAAAAZAQMAAAAlsH9HAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFQxsAAAHCAAErDG6GAAAAAElFTkSuQmCC">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_teachinasia" alt="teachninasia" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAaAQMAAABFDcatAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFQxMAAAG6AAFCARkJAAAAAElFTkSuQmCC">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_doanhnhan" alt="doanh nhan" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIsAAAAaAQMAAAC97T1aAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFIwcAAAHuAAFqzocDAAAAAElFTkSuQmCC">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_congthuong" alt="cong thuong" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG0AAAAVAQMAAAB2R/K5AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgFZAIAATsAAYYWsqUAAAAASUVORK5CYII=">
                        </div>
                    </li>
                    <li>
                        <div class="new-item">
                            <img class="cjs_vietnamnet" alt="vietnamnet" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAAAkAQMAAADhHrWoAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>
<!-- End customer section -->
        <!--
<div id="success">
    <section class="section">
        <div class="success-head">
            <h1 class="opt-title">Câu chuyện thành công</h1>
        </div>

        <div id="success-slider" class="success-slider carousel">
            <ul class="slides">
                <li class="suc-item">
                    <div>
                        <div class="suc-item-content suc-item-left">
                            <div class="suc-left-box">
                                <img alt="Nguyễn Việt Hải - Tổng giám đốc Viettheritage"
                                     src="../assests/img/suc-img.png">

                                <div class="suc-left-desc">
                                    <div class="suc-left-title">Nguyễn Việt Hải</div>
                                    <div>Tổng giám đốc</div>
                                </div>
                            </div>
                        </div>
                        <div class="suc-item-right">
                            <i class="fa fa-quote-left"></i>

                            <div class="suc-right-txt">
                                <span>
                            Với lượng khách hàng hơn 300 doanh nghiệp & nhân sự thay đổi liên tục, việc cập nhật thông
                            tin & chăm sóc khách hàng chu đáo là một vấn đề đau đầu đặt ra cho các chủ doanh nghiệp. Với
                            việc sử dụng Cloudjet SaleUP đã mang lại cho doanh nghiệp của tôi những lợi ích vượt trội về
                            tính hiệu quả trong quy trình quản lý khách hàng</span>
                            </div>
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li class="suc-item">
                    <div>
                        <div class="suc-item-content suc-item-left">
                            <div class="suc-left-box">
                                <img alt="Nguyễn Việt Hải - Tổng giám đốc Viettheritage"
                                     src="../assests/img/suc-img.png">

                                <div class="suc-left-desc">
                                    <div class="suc-left-title">Nguyễn Việt Hải</div>
                                    <div>Tổng giám đốc</div>
                                </div>
                            </div>
                        </div>
                        <div class="suc-item-right">
                            <i class="fa fa-quote-left"></i>

                            <div class="suc-right-txt">
                                <span>
                            Với lượng khách hàng hơn 300 doanh nghiệp & nhân sự thay đổi liên tục, việc cập nhật thông
                            tin & chăm sóc khách hàng chu đáo là một vấn đề đau đầu đặt ra cho các chủ doanh nghiệp. Với
                            việc sử dụng Cloudjet SaleUP đã mang lại cho doanh nghiệp của tôi những lợi ích vượt trội về
                            tính hiệu quả trong quy trình quản lý khách hàng</span>
                            </div>
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
-->
<!-- Start Contact section -->
<div id="contact" class="contact-section">
    <section class="section clearfix">
        <div class="contact-head">
            <h1 class="opt-title">CONSULTING REGISTER</h1>
        </div>

        <div class="input-box">

                <iframe frameborder="0" class="input-box" height="500"
                        src="//www.saleupcrm.com/subscribe/adbbd774b32b12729fa8c2b4f707fd2f/" id="cjsform"></iframe>
            <!--<form>
                <div class="txt-item">
                    <input type="text" name="name" id="name" placeholder="Họ và tên">
                </div>
                <div class="txt-item">
                    <input type="text" name="email" id="email" placeholder="Email công ty">
                </div>
                <div class="txt-item">
                    <input type="text" name="phone" id="phone" placeholder="Số điện thoại">
                </div>
                <div class="txt-item">
                    <input type="text" name="companyName" id="companyName" placeholder="Tên công ty">
                </div>
                <div class="txt-item">
                    <select id="city" name="city">
                        <option value="0">Doanh nghiệp bạn ở tỉnh nào?</option>
                        <option value="Tp Hồ Chí Minh">Tp Hồ Chí Minh</option>
                        <option value="Hà Nội">Hà Nội</option>
                    </select>
                </div>
                <div class="txt-item">
                    <select id="companyBrand" name="companyBrand">
                        <option value="0">Doanh nghiệp bạn hoạt động ở lĩnh vực nào?</option>
                        <option value="1">Lĩnh vực 1</option>
                        <option value="2">Lĩnh vực 2</option>
                    </select>
                </div>
                <div class="txt-item">
                    <select id="staff" name="staff">
                        <option value="0">Doanh nghiệp bạn có bao nhiêu nhân viên?</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <div class="bt-item">
                    <input type="submit" class="bt-trial" value="Đăng ký">
                </div>
            </form>-->
        </div>
        <div class="">
            <div class="hotline">Call us now!</div>

            <div class="hotline-number">
                <p>(028) 668 08 662</p>
                <p>(028) 665 99 998</p>
            </div>
        </div>

    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#flexCarousel').flexslider({
            animation: "slide",
            slideshow: true,
            smoothHeight: true,
            controlNav: true,
            animationLoop: true,
            slideshowSpeed: 4000,
            animationSpeed: 600
        });

        $('#success-slider').flexslider({
            animation: "slide",
            slideshow: true,
            smoothHeight: false,
            controlNav: true,
            animationLoop: true,
            slideshowSpeed: 5000,
            animationSpeed: 600
        });


        var $window = $(window),
                flexslider;

        // tiny helper function to add breakpoints
        function getGridSize() {
            return (window.innerWidth < 768) ? 1 :
                    (window.innerWidth < 992) ? 3 :
                            (window.innerWidth < 1122) ? 4 : 5;
        }

        $window.load(function () {

            $('#customer-slider').flexslider({
                animation: "slide",
                slideshow: true,
                smoothHeight: false,
                controlNav: false,
                animationLoop: true,
                slideshowSpeed: 5000,
                animationSpeed: 600,
                itemWidth: 210,
                itemMargin: 5,
                minItems: getGridSize(),
                maxItems: getGridSize()
            });

        })
        // check grid size on resize event
        $window.resize(function () {
            var gridSize = getGridSize();

            flexslider.vars.minItems = gridSize;
            flexslider.vars.maxItems = gridSize;
        });

        $("#id_source").val(getCookie('utm_source'));
        $("#id_medium").val(getCookie('utm_medium'));
        localStorage.ebook = 2;
    })

</script>
<!-- End Contact section -->