<div id="block-content"><!-- enable bootstrap responsive -->
<link href="http://static.cjs.vn/css/bootstrap-responsive.min.css" rel="stylesheet">
<!-- google font -->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400&subset=latin,vietnamese'
      rel='stylesheet' type='text/css'>
<div class="none-display"><!-- Google Code for Cloudjet SaleUp Remarketing -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1047959242;
        var google_conversion_label = "sVoVCLaPtwcQyq3a8wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="cloudjet solutions"
                                          src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1047959242/?value=0&amp;label=sVoVCLaPtwcQyq3a8wM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
</div>
<style type="text/css">
body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
}

#block-content h1 {
    font-size: 2em;
}

#block-content h2 {
    font-size: 1.5em;
}

#block-content h3 {
    font-size: 1.17em;
}

#block-content h4 {
    font-size: 1em;
}

#block-content h5 {
    font-size: 0.83em;
}

#block-content h6 {
    font-size: 0.67em;
}

#block-content p {
    font-size: 1em;
}

#section-1 {
    position: relative;
    background: url('http://static.cjs.vn/img/landing/new/bg-banner.jpg') no-repeat;
    -webkit-background-size: 100% 100%;
    /*-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    min-height: 700px;

}

#section-12 * {
/ / font-weight : 500;
}

#section-11 {
    display: none;
}

#section-12 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#section-12 .btn {
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em;
    border-radius: 2em;
}

h4 {
    line-height: 32px;
}

#section-2 {
    position: relative;
    background: url('http://static.cjs.vn/img/landing/new/bg-content1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 594px;
    text-align: center;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px 1px 8px rgba(0, 0, 0, 0.8);
}

#section-2 hr {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}

#section-3 {
    background-color: rgb(85, 85, 85);
}

#section-3 .title {
    color: #fff;
    text-align: center;
}

#section-3 .row-fluid .span4 img {
    width: 100%;
    border-radius: 0;
}

#section-3 .row-fluid .span4 hr {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}

#section-3 .row-fluid .span4 .brief {
    padding: 15px 20px;
}

#section-3 .row-fluid .span4 {
    min-height: 200px;
    margin: 0;
    width: 33.33333%;
    color: #fff;
    text-align: center;
}

#section-4 {
    position: relative;
    background: url('http://static.cjs.vn/img/landing/new/bg-content2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 594px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#section-4 hr {
    border-bottom: 0;
}

#section-4 .tbl-feature tbody td:FIRST-CHILD {
    vertical-align: baseline !important;
}

#section-4 .tbl-feature tbody tr {
    border-bottom: 1px solid #ccc;
}

#section-4 .tbl-feature tbody tr td {
    padding: 10px;
}

#section-4 .tbl-feature tbody tr td p {
    font-size: 1.17em;
    margin: 0;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

#section-4 .tbl-feature tbody tr:last-child {
    border-bottom: 0;
}

#section-4 .btn {
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em;
    border-radius: 2em;
}

#section-51 {
    background-image: -webkit-linear-gradient(top, #e9e6e6, #f6f6f6 84%);
    background-image: -moz-linear-gradient(top, #e9e6e6, #f6f6f6 84%);
    background-image: -o-linear-gradient(top, #e9e6e6, #f6f6f6 84%);
    background-image: linear-gradient(to bottom, #e9e6e6, #f6f6f6 84%);
    min-height: 500px;
    text-align: center;
    padding-top: 20px;
}

#section-5 .span4 {

}

#section-5 .thumb {
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    height: auto;
}

#section-5 .span4 p {
    font-weight: bold;
    color: rgb(102, 102, 102);
    font-size: 1.17em;
}

#section-5 .thumb .pipeline-feature {
    width: 88px;
    height: 88px;
    /* display: table; */
    margin: 0 auto;
}

#section-5 .thumb .pipeline-feature.icon1 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) 0 0 no-repeat;
}

#section-5 .thumb .pipeline-feature.icon2 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) -88px 0 no-repeat;
}

#section-5 .thumb .pipeline-feature.icon3 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) -176px 0 no-repeat;
}

#section-5 .thumb .pipeline-feature.icon4 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) 0 -88px no-repeat;
}

#section-5 .thumb .pipeline-feature.icon5 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) -88px -88px no-repeat;
}

#section-5 .thumb .pipeline-feature.icon6 {
    background: url(http://static.cjs.vn/img/landing/new/icons-feature.png) -176px -88px no-repeat;
}

#section-52 {
    background: url(http://static.cjs.vn/img/landing/new/cloud.jpg) 0 0 no-repeat, url(http://static.cjs.vn/img/landing/new/customer-bg.png);
    min-height: 500px;
    text-align: center;
    padding-top: 100px;
}

#section-52 .customer-saleup-list a > img {
    height: 30px;
}

#section-52 .customer-saleup-list a {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 15px;
    min-width: 100px;
}

#section-52 .btn {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 1em;
    border-radius: 2em;
}

#section-6 {

    background: #EFEFEF;
    background: -webkit-linear-gradient(#EFEFEF, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EFEFEF, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EFEFEF, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EFEFEF, #fff); /* Standard syntax */

    /*text-align: center;*/

    padding-top: 20px;

}

#section-6 .btn {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 2em;
}

#section-62 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-register-content label {
    color: rgb(102, 102, 102);
    font-size: 1em;
    font-style: italic;
}

#form-register-content input[type="text"],
#form-register-content textarea,
#form-register-content select {
/ / min-width : 300 px;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

#form-register-content textarea {
    min-height: 150px;
}

#form-register-content ul.errorlist {
    margin: 0;
    margin-top: -10px;
    color: red;
    font-style: italic;
}

#section-7 {
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section-7 .contact-phone {
    width: 265px;
    height: 104px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: url(http://static.cjs.vn/img/landing/btn-bg.png);
    border: 4px solid #d0d0d0;
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    #section-3 .row-fluid .span4 {
        width: 33.33333%;
    }

    #section-2 .span12 {
        padding: 0 200px;
    }
}

@media (min-width: 980px) {
    #section-3 .row-fluid {
        display: table;
    }

    #section-3 .row-fluid .span4 {
        display: table-cell;
        float: none;
    }
}

@media (max-width: 979px) {
    #section-3 .row-fluid .span4 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #section-1 {
        background-image: none;
    }

    #section-11 {
        display: block;
    }

    #section-12 {
        background: -webkit-linear-gradient(#fff, #eee); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fff, #eee); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fff, #eee); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fff, #eee); /* Standard syntax */

    }

    #section-3 .row-fluid .span4 {
        width: 100%;
    }
}

#register-training-sticky-wrapper {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 2000;
/ / background : yellow;
}

#register-training-sticky-content {
    padding: 10px;
    min-height: 150px;
    min-width: 300px;
    border-radius: 8px;
    background-color: rgba(255, 82, 0, 0.8);
    color: #fff;
}

#register-training-sticky {
    position: absolute;
    padding: 10px;
    /*float: right;
    width: 50px;
    height: 50px;*/
    background: #FF0000;
    right: 0px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;

}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
</style>
<!--
  <div id="register-training-sticky-wrapper"><div id="register-training-sticky-container" style="position: relative;"><div id="register-training-sticky" class="rotate"><span>TRAINING MI???N PH??</span></div><div id="register-training-sticky-content" class="" style="float: right; display: none;"><button type="button" class="close" >&times;</button><div style="margin-right: 20px;"><a href="https://docs.google.com/forms/d/1_PmaqmG-rM6hpz4HssEuXciFYRRL-4nx-eLiX1GIydQ/viewform" target="_blank"><img src="http://static.cjs.vn/img/landing/new/training-banner.jpg" alt="????ng k?? trainning mi???n ph??"/></a></div></div></div></div><script type="text/javascript">
  		var sticky_height=$('#register-training-sticky').outerHeight(true);// .outerHeight( [includeMargin ] )
  		var sticky_width=$('#register-training-sticky').outerWidth(true);
  		$('#register-training-sticky').css({'right':-sticky_width/2+sticky_height/2, 'top':sticky_width/2-sticky_height/2});
  		$('#register-training-sticky-container').css({'padding-right':sticky_height});
  		$('#register-training-sticky').on('click', function(){
  			$('#register-training-sticky-content').slideToggle();
  		});
  		$('#register-training-sticky-content button.close').click(function(){
  			$('#register-training-sticky-content').slideUp();
  		});

  </script>
   -->
<div id="section-1">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7" id="section-11"><img src='http://static.cjs.vn/img/landing/new/right-banner.png'></div>
            <div class="span5" id="section-12"><h1 style="color:rgb(98,96,97);"><span>H??M NAY</span><br><span
                            style="font-size: 1.2em;">??ANG C?? <span class="text-success"><strong>1,558</strong> NG?????I D??NG</span></span><br><span>S??? D???NG <a
                                href="#"><img src="http://static.cjs.vn/img/landing/new/saleup new 02.png" width="160"
                                              alt="SALEUP-CRM"></a></span></h1>

                <h3 style="color:rgb(118,117,115);"><span>????Y L?? NH???NG QU???N L?? V?? NH??N VI??N KINH DOANH<br>
					 ??ANG TI??N PHONG S??? D???NG C??NG NGH???<br>
					  ????? T???I ??U H??A HI???U QU??? C??NG VI???C M???I NG??Y</span></h3>

                <h3><span class="text-success" style="//font-weight: bold;">
					L??M VI???C KHOA H???C V?? C??N B???NG TH???I GIAN <br>
					S??? GI??P B???N H???NH PH??C H??N.</span><br></h3>

                <h3 style="color:rgb(118,116,117);"><strong>B???N S??? L?? NG?????I TI???P THEO?</strong></h3></h5><a
                        href="#form-register" class="btn btn-success">T??I MU???N THAY ?????I</a></div>
        </div>
    </div>
</div>
<div id="section-2">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12"><p style="font-size: 2.5em;line-height: 1.5em;"><i>T??i s???n l???n nh???t c???a ng?????i kinh doanh
                        l?? g???<br><strong>???? l?? c?? s??? d??? li???u kh??ch h??ng</strong></i></p>
                <hr>
                <p style="font-size:1.7em;">
                    Nh??ng tr??n th???c t???, vi???c l??u tr???/ch??m s??c d??? li???u kh??ch h??ng l???i kh?? s?? s??i v?? kh??ng theo h??? th???ng.
                    D???n ?????n c?? nhi???u l??? h???ng trong vi???c b???o m???t, t??m ki???m v?? chia s??? n???i b???.
                    ????y m???i l?? th??ch th???c ?????u ti??n trong qu???n l?? kinh doanh.
                </p></div>
        </div>
    </div>
</div>
<div id="section-3">
    <div class="title"><p style="margin: 0;padding: 20px;  font-size: 1.7em;font-weight: 500;">V???Y C??N NH???NG TH??CH TH???C
            KH??C?</p></div>
    <div class="row-fluid">
        <div class="span4"><img src="http://static.cjs.vn/img/landing/new/img-q1.jpg">

            <div class="brief"><h3>Ch??a c?? quy tr??nh qu???n l?? chia th??nh t???ng b?????c r?? r??ng.</h3>
                <hr>
                <p>(D???n ?????n kh??ng c?? ph??n chia/s???p x???p t???ng ????n h??ng theo ????ng b?????c quy ?????nh)</p></div>
        </div>
        <div class="span4" style="background-color: rgb(130,132,131);"><img
                    src="http://static.cjs.vn/img/landing/new/img-q2.jpg">

            <div class="brief"><h3>Ch??a c?? k??? ho???ch c??ng vi???c cho t???ng ????n h??ng ???????c hi???n th??? t???ng th??? tr??n m???t quy
                    tr??nh.</h3>
                <hr>
                <p>(D???n ?????n kh??ng c?? m???c ????? ??u ti??n v??? t??nh quan tr???ng v?? kh???n c???p cho t???ng ????n h??ng kh??c nhau)</p>
            </div>
        </div>
        <div class="span4"><img src="http://static.cjs.vn/img/landing/new/img-q3.jpg">

            <div class="brief"><h3>Ch??a c?? ph??n t??ch/b??o c??o mang t??nh ch???t c???t l??i ????? gi???i quy???t nh???ng n??t th???t trong
                    quy tr??nh kinh doanh. </h3>
                <hr>
                <p>(D???n ?????n vi???c l??n k??? ho???ch kinh doanh kh??ng d???a tr??n s??? li???u v?? l???ch s??? l??m vi???c c???a t???ng nh??n
                    vi??n)</p></div>
        </div>
    </div>
</div>
<div id="section-4">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class=""><h3 class="text-center" style="font-size: 2em;font-weight: 400;color:rgb(98,97,95);">HO??N TO??N
                    MI???N PH??</h3>
                <table class="tbl-feature">
                    <tbody>
                    <tr>
                        <td><img src="http://static.cjs.vn/img/landing/new/activity-icons-new 2.png"></td>
                        <td><p>
                                - Mi???n ph?? s??? d???ng v?? kh??ng gi???i h???n ch???c n??ng.<br>
                                (v???i nhu c???u c?? nh??n ho???c c??ng ty d?????i 10 nh??n vi??n)
                            </p></td>
                    </tr>
                    <tr>
                        <td><img src="http://static.cjs.vn/img/landing/new/activity-icons-new 5.png"></td>
                        <td><p>- Giao di???n song ng??? (Anh-Vi???t),<br>
                                s??? d???ng online tr??n n???n website (kh??ng c???n c??i ?????t).</p></td>
                    </tr>
                    <tr>
                        <td><img src="http://static.cjs.vn/img/landing/new/activity-icons-new 4.png"></td>
                        <td><p>- H??? tr??? h?????ng d???n, gi???i ????p th???c m???c online<br> v?? t??i li???u ebook chi ti???t cho ng?????i
                                d??ng m???i.</p></td>
                    </tr>
                    <tr>
                        <td><img src="http://static.cjs.vn/img/landing/new/activity-icons-new 3.png"></td>
                        <td><p>- H??? tr??? hu???n luy???n h??? th???ng tr???c ti???p cho ng?????i d??ng.</p></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center"><a href="#form-register" class="btn btn-success">T??I MU???N
                                THAY ?????I</a></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="section-5">
    <div id="section-51"><h3 class="text-center" style="font-size:2em;font-weight: 500;color:rgb(97,95,96);">T??nh n??ng
            n???i b???t</h3>

        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon1"></div>
                    </div>
                    <p>Theo d??i c??ng vi???c qu?? h???n ch??a ???????c x??? l??</p></div>
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon2"></div>
                    </div>
                    <p>Ph??t hi???n l??? h???ng trong quy tr??nh b??n h??ng</p></div>
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon3"></div>
                    </div>
                    <p>L??n k??? ho???ch, trao ?????i, x??? l?? c??ng vi???c cho t???ng kh??ch h??ng</p></div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon4"></div>
                    </div>
                    <p>Qu???n l?? l???ch l??m vi???c, c?? h???i, doanh s??? c???a t???ng c?? nh??n</p></div>
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon5"></div>
                    </div>
                    <p>??i???u ch???nh & thay ?????i quy tr??nh b??n h??ng ph?? h???p nhu c???u doanh nghi???p</p></div>
                <div class="span4">
                    <div class="thumb">
                        <div class="pipeline-feature icon6"></div>
                    </div>
                    <p>Ph??n t??ch v?? b??o c??o c??c s??? li???u kh??ch h??ng</p></div>
            </div>
        </div>
    </div>
    <div id="section-52">
        <div class="container"><h3 class="text-center" style="font-size:2em;font-weight: 500;  color: rgb(97,95,96);">
                Kh??ch h??ng doanh nghi???p</h3>
            <ul class="customer-saleup-list container" id="business-customers"></ul>
            <p class="customer-saleup-list text-center"><a href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/acet.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/ahometo.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/anh-son.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/caan.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/CASAWINE.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/comscore.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/idp.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/ited.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/itracker.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/KGH.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/logo-my-gia-lac.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/Mekong.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/ntv.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/Phuong-nam.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/the-voice.png"></a><a
                        href="javascript:void(0);"><img src="http://static.cjs.vn/img/landing/new/client/TRIEU-VI.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/truong-viet-anh.png"></a><a
                        href="javascript:void(0);"><img
                            src="http://static.cjs.vn/img/landing/new/client/Vietheritage.png"></a></p><a
                    href="/saleup/bang-bao-gia-goi-doanh-nghiep/" target="_blank" class="btn btn-warning">B??o gi?? g??i
                doanh nghi???p</a></div>
        <div style="  margin-top: 70px;"><h3 style="font-size: 2em;font-weight: 500; color:rgb(97,95,96);">B??o ch?? n??i
                v??? Cloudjet Solutions</h3>

            <p><img src="http://static.cjs.vn/img/landing/new/news-mentions.png" style="width: 992px; height: 55px;">
            </p>

            <div style="padding-bottom: 5px;">
                <hr class="div-cus" style="margin-top: 20px">
                <div id="myCarousel" class="carousel slide" style="overflow: inherit; margin:auto 50px;"
                     data-interval="5000">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="student">
                                <div class="student_img"><img style="right:0"
                                                              src="http://static.cjs.vn/img/landing/ceo-vietheritage.png"
                                                              alt="Tr???n Th??? Thanh H????ng - T???ng gi??m ?????c Vietheritage">
                                </div>
                                <div class="student_content"><i style="line-height: 22px;">???V???i l?????ng kh??ch h??ng h??n 300
                                        doanh nghi???p & nh??n s???
                                        thay ?????i li??n t???c, vi???c c???p nh???t th??ng tin & ch??m s??c kh??ch h??ng chu ????o l?? m???t
                                        v???n ????? ??au ?????u ?????t ra cho c??c ch??? doanh nghi???p. V???i vi???c s??? d???ng Cloudjet SaleUP
                                        ???? mang l???i cho doanh nghi???p c???a t??i nh???ng l???i ??ch v?????t tr???i v??? t??nh hi???u qu???
                                        trong quy tr??nh qu???n l?? kh??ch h??ng???</i>

                                    <p>Tr???n Th??? Thanh H????ng - T???ng gi??m ?????c Vietheritage</p></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="student">
                                <div class="student_img"><img style="right:0"
                                                              src="http://static.cjs.vn/img/landing/ceo-my-gia-lac.png"
                                                              alt="Nguy???n Thi??n ?? - CEO C??ng Ty M??? Gia L???c"></div>
                                <div class="student_content"><i style="line-height: 22px;">???V???i th??? m???nh v??? vi???c x??y
                                        d???ng quy tr??nh v?? t???i ??u h??a
                                        hi???u qu??? b??n h??ng, gi???i ph??p Cloudjet SaleUP gi??p ch??ng t??i qu???n l?? ch??nh x??c v??
                                        hi???u qu??? ho???t ?????ng kinh doanh trong t???ng giai ??o???n. Ngo??i ra, t??nh ????n gi???n ti???n
                                        d???ng v?? t???c ????? x??? l?? giao d???ch nhanh ch??ng l?? l?? do t??i ch???n SaleUP l??m ng?????i
                                        b???n ?????ng h??nh c???a m??nh???</i>

                                    <p>Nguy???n Thi??n ?? - CEO C??ng Ty M??? Gia L???c</p></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="student">
                                <div class="student_img"><img style="right:0"
                                                              src="http://static.cjs.vn/img/landing/ms-tu.jpg"
                                                              alt="Ph???m Th??? C???m T?? - Gi??m ?????c kinh doanh Tr?????ng Qu???c T??? Vi???t Anh">
                                </div>
                                <div class="student_content"><i style="line-height: 22px;">???Kh??c v???i nh???ng tr???i nghi???m
                                        c??c ph???n m???m b??n h??ng
                                        tr?????c ????y, khi s??? d???ng Cloudjet SaleUP, Ch??ng t??i ???? ?????t hi???u qu??? t???i ??u trong
                                        vi???c qu???n l?? quan h??? kh??ch h??ng v?? doanh s??? c???a t???ng giai ??o???n. Vi???c gi???m thi???u
                                        100% c??c b??o c??o th??? c??ng c??ng nh?? ti???t ki???m ???????c 30% chi ph?? v?? th???i gian b??n
                                        h??ng khi???n ch??ng t??i ho??n to??n h??i l??ng v??? t??nh hi???u qu??? c???a gi???i ph??p.???</i>

                                    <p>Ph???m Th??? C???m T?? - Gi??m ?????c kinh doanh Tr?????ng Qu???c T??? Vi???t Anh</p></div>
                            </div>
                        </div>
                    </div>
                    <a style="top: 50%;left: -50px;" class="carousel-control left" href="#myCarousel"
                       data-slide="prev">&lsaquo;</a><a style="top: 50%;right: -50px;" class="carousel-control right"
                                                        href="#myCarousel"
                                                        data-slide="next">&rsaquo;</a></div>
            </div>
        </div>
    </div>
</div>
<div id="section-6">
    <div id="form-register" style="  position: relative;top: -80px;"></div>
    <div id="section-61"><h3 class="text-center" style="  color: rgb(97,95,96);  font-size: 2em;">????NG K?? S???
            D???NG<br><span class="text-success" style="font-size: 0.7em;font-weight: 500;">HO??N TO??N MI???N PH??</span></h3>
    </div>
    <div id="section-62">
        <form action="." method="post" id="id-form-register"><input type='hidden' name='csrfmiddlewaretoken'
                                                                    value='8fvKSM3Ofgl5HpepQRbKIM4Qr2LZN0zG'/>

            <div id="form-register-content">
                <script type="text/javascript" src="http://static.cjs.vn/datepicker/bootstrap-datepicker.js"></script>
                <link href="http://static.cjs.vn/datepicker/datepicker.css" rel="stylesheet">
                <div id="form-register-content" class="span6"><label for="id_full_name">H??? v?? t??n</label><input
                            class="form-control" id="id_full_name" maxlength="50" name="full_name" type="text"/><label
                            for="id_email">
                        Email
                        <br>
                        <small style="color:#3D00C1;"><i>** password t??i kho???n s??? ???????c g???i v??o email n??y!</i></small>
                    </label><input class="" id="id_email" maxlength="100" name="email" type="text"/><label
                            for="id_phone">S??? ??i???n tho???i</label><input class="form-control" id="id_phone" maxlength="15"
                                                                       name="phone" type="text"/><label
                            for="id_company_name">T??n c??ng ty</label><input class="form-control" id="id_company_name"
                                                                            maxlength="100" name="company_name"
                                                                            type="text"/><label for="id_location">T???nh/Th??nh
                        ph???</label><select id="id_location" name="location">
                        <option value="" selected="selected">Doanh nghi???p b???n ??? T???nh/TP n??o?</option>
                        <option value="TP HCM">TP HCM</option>
                        <option value="H?? N???i">H?? N???i</option>
                        <option value="An Giang">An Giang</option>
                        <option value="B?? R???a - V??ng T??u">B?? R???a - V??ng T??u</option>
                        <option value="B???c Giang">B???c Giang</option>
                        <option value="B???c K???n">B???c K???n</option>
                        <option value="B???c Li??u">B???c Li??u</option>
                        <option value="B???c Ninh">B???c Ninh</option>
                        <option value="B???n Tre">B???n Tre</option>
                        <option value="B??nh ?????nh">B??nh ?????nh</option>
                        <option value="B??nh D????ng">B??nh D????ng</option>
                        <option value="B??nh Ph?????c">B??nh Ph?????c</option>
                        <option value="B??nh Thu???n">B??nh Thu???n</option>
                        <option value="C?? Mau">C?? Mau</option>
                        <option value="Cao B???ng">Cao B???ng</option>
                        <option value="?????k L???k">?????k L???k</option>
                        <option value="?????k N??ng">?????k N??ng</option>
                        <option value="??i???n Bi??n">??i???n Bi??n</option>
                        <option value="?????ng Nai">?????ng Nai</option>
                        <option value="?????ng Th??p">?????ng Th??p</option>
                        <option value="Gia Lai">Gia Lai</option>
                        <option value="H?? Giang">H?? Giang</option>
                        <option value="H?? Nam">H?? Nam</option>
                        <option value="H?? T??nh">H?? T??nh</option>
                        <option value="H???i D????ng">H???i D????ng</option>
                        <option value="H???u Giang">H???u Giang</option>
                        <option value="H??a B??nh">H??a B??nh</option>
                        <option value="H??ng Y??n">H??ng Y??n</option>
                        <option value="Kh??nh H??a">Kh??nh H??a</option>
                        <option value="Ki??n Giang">Ki??n Giang</option>
                        <option value="Kon Tum">Kon Tum</option>
                        <option value="Lai Ch??u">Lai Ch??u</option>
                        <option value="L??m ?????ng">L??m ?????ng</option>
                        <option value="L???ng S??n">L???ng S??n</option>
                        <option value="L??o Cai">L??o Cai</option>
                        <option value="Long An">Long An</option>
                        <option value="Nam ?????nh">Nam ?????nh</option>
                        <option value="Ngh??? An">Ngh??? An</option>
                        <option value="Ninh B??nh">Ninh B??nh</option>
                        <option value="Ninh Thu???n">Ninh Thu???n</option>
                        <option value="Ph?? Th???">Ph?? Th???</option>
                        <option value="Qu???ng B??nh">Qu???ng B??nh</option>
                        <option value="Qu???ng Nam">Qu???ng Nam</option>
                        <option value="Qu???ng Ng??i">Qu???ng Ng??i</option>
                        <option value="Qu???ng Ninh">Qu???ng Ninh</option>
                        <option value="Qu???ng Tr???">Qu???ng Tr???</option>
                        <option value="S??c Tr??ng">S??c Tr??ng</option>
                        <option value="S??n La">S??n La</option>
                        <option value="T??y Ninh">T??y Ninh</option>
                        <option value="Th??i B??nh">Th??i B??nh</option>
                        <option value="Th??i Nguy??n">Th??i Nguy??n</option>
                        <option value="Thanh H??a">Thanh H??a</option>
                        <option value="Th???a Thi??n Hu???">Th???a Thi??n Hu???</option>
                        <option value="Ti???n Giang">Ti???n Giang</option>
                        <option value="Tr?? Vinh">Tr?? Vinh</option>
                        <option value="Tuy??n Quang">Tuy??n Quang</option>
                        <option value="V??nh Long">V??nh Long</option>
                        <option value="V??nh Ph??c">V??nh Ph??c</option>
                        <option value="Y??n B??i">Y??n B??i</option>
                        <option value="Ph?? Y??n">Ph?? Y??n</option>
                        <option value="C???n Th??">C???n Th??</option>
                        <option value="???? N???ng">???? N???ng</option>
                        <option value="H???i Ph??ng">H???i Ph??ng</option>
                    </select><label for="id_management_tool_0">C??ng c??? b???n ??ang s??? d???ng ????? qu???n l?? kh??ch h??ng?</label>
                    <ul id="id_management_tool">
                        <li><label for="id_management_tool_0"><input id="id_management_tool_0" name="management_tool"
                                                                     type="radio" value="excel"/> Excel</label></li>
                        <li><label for="id_management_tool_1"><input id="id_management_tool_1" name="management_tool"
                                                                     type="radio" value="local-system"/> H??? th???ng n???i b???</label>
                        </li>
                        <li><label for="id_management_tool_2"><input id="id_management_tool_2" name="management_tool"
                                                                     type="radio" value="online-crm-system"/> H??? th???ng
                                CRM Online</label></li>
                        <li><label for="id_management_tool_3"><input id="id_management_tool_3" name="management_tool"
                                                                     type="radio" value="other"/> Kh??c</label></li>
                    </ul>
                    <label for="id_management_tool_0">B???n ??ang g???p kh?? kh??n g?? v???i c??ng c??? hi???n t???i?</label><textarea
                            cols="40" id="id_pain_tool" name="pain_tool" rows="10"></textarea>

                    <div><label for="id_ready_training_0">B???n s???n s??ng s???p x???p bu???i training cho ph??ng kinh doanh, s???
                            d???ng ngay h??? th???ng SaleUP ????? gi???i quy???t ngay nh???ng kh?? kh??n tr??n (ch??? ??p d???ng cho c??ng ty ???
                            TP. H??? Ch?? Minh)</label>
                        <ul id="id_ready_training">
                            <li><label for="id_ready_training_0"><input checked="checked" id="id_ready_training_0"
                                                                        name="ready_training" type="radio" value="yes"/>
                                    C??</label></li>
                            <li><label for="id_ready_training_1"><input id="id_ready_training_1" name="ready_training"
                                                                        type="radio" value="no"/> Kh??ng</label></li>
                        </ul>
                    </div>
                    <div><label for="id_training_date">Th???i gian s???m nh???t ????? Ban T?? V???n c?? th??? training cho c??ng ty c???a
                            B???n?</label><input class="datepicker" id="id_training_date" name="training_date" type="text"
                                               value="2015-07-24"/></div>
                    <input id="id_utm_source" name="utm_source" type="hidden"/><input id="id_utm_medium"
                                                                                      name="utm_medium"
                                                                                      type="hidden"/><input
                            id="id_utm_content" name="utm_content" type="hidden"/><input id="id_utm_campaign"
                                                                                         name="utm_campaign"
                                                                                         type="hidden"/></div>
                <script type="text/javascript">
                    $(function () {
                        $("#id_utm_source").val(getCookie('utm_source'));
                        $("#id_utm_medium").val(getCookie('utm_medium'));
                        $("#id_utm_content").val(getCookie('utm_content'));
                        $("#id_utm_campaign").val(getCookie('utm_campaign'));


                        $("#form-register-content .datepicker").datepicker({
                            format: 'yyyy-mm-dd'
                        });

                        $('#id_location').change(function () {
                            //alert('change');
                            if ($(this).val() == "TP HCM") {
                                $('#id_ready_training_0').closest('div').show();
                                $('#id_training_date').closest('div').show();
                            } else {
                                $('#id_ready_training_0').closest('div').hide();
                                $('#id_training_date').closest('div').hide();
                            }
                        });
                        $('#id_location').trigger('change');
                    });


                </script>
            </div>
            <br>

            <div class="text-center">
                <button type="submit" class="btn btn-success">????NG K??</button>
            </div>
            <input type="hidden" name="saleup_register" value=1/></form>
        <!-- Modal -->
        <div id="myModal-registersuccess" class="modal hide fade" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">??</button>
                <h3 id="myModalLabel">Register Successfully!</h3></div>
            <div class="modal-body"><p>Password ???? ???????c g???i v??o email c???a b???n.</p></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    $(document).ready(function () {

        localStorage.ebook = 1;

        //$('#myModal-registersuccess').modal('show');
        $('#myModal-registersuccess').on('hide', function () {
            // do something???
            //alert('hide');
            location.href = "/saleup/";
        })
        $('#id-form-register').submit(function () {

            $.ajax({
                url: location.href,
                type: 'post',
                data: $('#id-form-register').serialize(),
                beforeSend: function () {
                    $('#id-form-register ul.errorlist').remove();
                    $('#id-form-register *').prop('disabled', true);

                },
                success: function (res) {

                    if (typeof(res) == 'string') {
                        if (res == 'OK') {
                            //redirect to saleup pipline
                            location.href = "/saleup/start-with-new-members/";
                            //show success popup
                            //$('#myModal-registersuccess').modal('show');
                            //$('#id-form-register *').prop('readonly', true);
                            //$('#id-form-register button[type=submit]').parent().html('<div class="alert alert-success"><h4>Register successfully!</h4></div>');
                        }
                        else if (res.toLowerCase() == 'error') {
                            alert('Something error! Try again!');
                        }
                        else {
                            $('#form-register-content').html(res);
                        }
                    } else {
                        alert('Something error! Try again!');
                    }

                },
                error: function () {
                    alert('Something error! Try again!');
                },
                complete: function () {
                    $('#id-form-register *').prop('disabled', false);
                }
            });

            return false;//canceled default form submit
        });


    });


</script>
</div>
<hr>
<style type="text/css">
    #footer-hotline {
        margin: auto;
        background-color: #fff;
        width: 300px;
        text-align: center;
        padding: 15px;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 50px;
        border-radius: 8px;
        line-height: 1.5em;
        -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);

        color: rgba(255, 0, 0, 0.7);
        text-shadow: 1px 2px 4px #fff, 0 0 0 #000;
    }
</style>
<div>
    <div id="hotlines" style="position: relative;top:-100px;"></div>
    <h2 class="text-center" style="  color: rgb(102,102,102);  font-size: 2em;">G???i hotline ????? ???????c t?? v???n v?? ????ng k??
        c??c g??i d???ch v???</h2>

    <div id="footer-hotline">
        <div>(028) 665 99 998</div>
        <div>0902 355 081</div>
    </div>
</div>