<style>
    body {
        background-color: white;
    }

    footer {
        background-color: white;
    }

    /*#registerModal{*/
    /*opacity: 1;*/
    /*}*/
</style>

<section id="breadcrumb" class="breadcrumb-section relative-position backgroud-style">
    <div class="blakish-overlay"></div>
    <div class="container">
        <div class="page-breadcrumb-content text-center">
            <div class="page-breadcrumb-title">
                <h2 class="breadcrumb-head black bold">Cloudjet <span>Academy</span></h2>
            </div>
        </div>
    </div>
</section>
<!-- End of breadcrumb section
      ============================================= -->
<!-- Start of course details section
      ============================================= -->
<section id="course-details" class="course-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="course-details-item">
                    <div class="course-single-pic mb30">
                        <img src="./base/image/1.jpg" alt="">
                    </div>
                    <div class="course-single-text">
                        <div class="course-title mt10 headline relative-position">
                            <h3><a href="#">Khóa đào tạo 129: <br><b>CHUYÊN VIÊN KPI NỘI BỘ CHUYÊN NGHIỆP</b></a> <span
                                        class="trend-badge text-uppercase bold-font"><i class="fas fa-bolt"></i> NỔI BẬT</span>
                            </h3>
                        </div>
                        <div class="course-details-content">
                            <p style="font-size: 18px;font-weight: bold; color: black;padding-bottom: 20px; text-align: justify">
                                Dành cho những chuyên viên nội bộ của doanh nghiệp nhằm triển khai hệ thống KPI cho
                                chính doanh nghiệp của mình
                            </p>
                            <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px">
                                TỔNG QUAN
                            </p>
                            <p style="text-align: justify;font-weight: 400;line-height: 1.6;font-size: 18px;">
                                Trong bối cảnh cạnh tranh luôn khốc liệt, thị trường thay đổi nhanh chóng và sự phát
                                triển đột phá của công nghệ, điều quan trọng nhất của mỗi CEO và nhà lãnh đạo nhân sự
                                không phải là nhìn ra bên ngoài, đó là nhìn vào bên trong nội bộ của mình.
                                <br>
                                <br>
                                Việc gắn chặt thành tích của nhân viên với những mục tiêu cụ thể, đo lường được, không
                                cảm tính là yếu tố then chốt trong việc đảm bảo bộ máy của bạn vận hành tối ưu, giảm
                                thiểu sự cồng kềnh, lãng phí. Việc đánh giá thành tích không rõ ràng, cảm tính, chỉ gắn
                                với mô tả công việc nhưng không gắn với mục tiêu kinh doanh của công ty khiến cho việc
                                đánh giá kết quả, khen, thưởng nhân viên gặp nhiều bất cập, khó khăn, không minh bạch mà
                                hệ quả trước mắt đó là việc ra đi của những nhân viên xuất sắc nhất. Việc chảy máu nhân
                                tài không những thiệt hại về tài chính trước mắt về chi phí tuyển dụng, đào tạo (lên tới
                                12-18 tháng lương cho những vị trí cao cấp) mà còn khiến cho việc vận hành công ty gặp
                                nhiều khó khăn.
                                <br>
                                <br>
                                Câu chuyện về việc cần thiết của triển khai KPI tại doanh nghiệp không còn là câu chuyện
                                quá mới mẻ. Chúng tôi tin rằng các nhà điều hành đều mong muốn quản lý được mục tiêu ,
                                tập trung vào những gì họ đo lường vì mọi người không thể quản lý tốt những gì họ không
                                đo lường được. Tuy nhiên, khi triển khai ứng dụng KPI vào thực tế các doanh nghiệp gặp
                                không ít khó khăn trong việc vận hành. Khoá học này được thiết kế dành cho các doanh
                                nghiệp có nhu cầu đào tạo những chuyên trách nội bộ KPI cho doanh nghiệp của mình.
                                Chương trình đào tạo giúp học viên thấu hiểu nền tảng của việc triển khai BSC- KPI tại
                                doanh nghiệp, thực hành trên những phương pháp của Cloudjet Solutions đã triển khai cho
                                hơn 70 dự án tại thị trường Việt Nam.
                            </p>
                            <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px">
                                ĐỐI TƯỢNG THAM DỰ
                            </p>
                            <p style="text-align: justify;font-weight: 400;line-height: 1.6;font-size: 18px; margin-bottom: 10px">
                                Chương trình dành cho:
                            </p>
                            <ul style="line-height: 1.6;font-size: 18px;color: #333333; text-align: justify; margin-bottom: 40px">
                                <li>
                                    Những doanh nghiệp quan tâm đến việc triển khai KPI tại doanh nghiệp, xây dựng thước
                                    đo đánh giá từ cấp Công ty đến nhân viên
                                </li>
                                <li>
                                    Những quản lý, cá nhân đang chịu trách nhiệm về triển khai đánh giá hiệu suất ,
                                    thành tích tại doanh nghiệp
                                </li>
                                <li>
                                    Những nhà lãnh đạo, quản lý đang mong muốn thiết lập hệ thống quản trị mục tiêu
                                    doanh nghiệp theo những thước đo định lượng cụ thể
                                </li>
                                <li>
                                    Chuyên viên phụ trách xây dựng và cải tiến hệ thống KPI tại Công ty
                                </li>
                                <li>
                                    Những cá nhân quan tâm mong muốn học hỏi chuyên sâu về BSC - KPI
                                </li>
                            </ul>
                            <p style="font-size: 24px; font-weight: bold; margin-bottom: 10px; margin-bottom: 30px">
                                GIÁ TRỊ KHÁC BIỆT
                            </p>
                            <p style="font-size: 20px; color: orangered; font-weight: bold; margin-bottom: 10px">
                                1. ỨNG DỤNG
                            </p>
                            <p style="text-align: justify;font-weight: 400;line-height: 1.6;font-size: 18px;">
                                Đội ngũ giảng viên của Cloudjet Solutions là những trưởng ban tư vấn chính của các dự án
                                đã triển khai cho doanh nghiệp từ đào tạo lý thuyết đến tư vấn vận hành và đồng hành
                                cùng doanh nghiệp.
                                <br>
                                <br>
                                Chương trình được xây dựng dựa trên phương pháp đặc thù của Cloudjet Solutions triển
                                khai cho những doanh nghiệp tại Việt Nam. Trong khóa học, CJS sẽ chuyển hóa những kiến
                                thức “đao to búa lớn” thành những bài học đơn giản, dễ hiểu, học viên sẽ có cơ hội học
                                và ứng dụng lý thuyết vào hệ thống bài tập, nghiên cứu tình huống cụ thể.
                            </p>

                            <p style="font-size: 20px; color: orangered; font-weight: bold; margin-bottom: 10px">
                                2. TƯ VẤN
                            </p>
                            <p style="text-align: justify;font-weight: 400;line-height: 1.6;font-size: 18px;">
                                BSC và KPI là 2 chủ đề vô cùng mới mẻ đối với những nhà lãnh đạo đã nhiều người biết,
                                nhiều người thử áp dụng nhưng luôn vướng phải những khó khăn vướng mắc, trăn trở không
                                giải đáp được.
                                <br>
                                <br>
                                Đây là cơ hội tuyệt vời để bạn có thể làm việc với Chuyên Gia để giải đáp những khúc mắc
                                này.
                            </p>

                            <p style="font-size: 20px; color: orangered; font-weight: bold; margin-bottom: 10px">
                                3. KẾT NỐI
                            </p>
                            <p style="text-align: justify;font-weight: 400;line-height: 1.6;font-size: 18px;">
                                Chương trình học được thiết kế nhấn mạnh vào thực hành, trao đổi qua hình thức làm việc
                                nhóm. Do đó, học viên luôn có cơ hội học hỏi và kết nối qua trao đổi trực tiếp , thực tế
                                với những đồng nghiệp và nhà quản lý khác
                            </p>

                            <p style="font-size: 20px; color: orangered; font-weight: bold; margin-bottom: 10px">
                                4. CHÍNH SÁCH - CHI PHÍ
                            </p>
                            <p style="font-size: 20px; color: black;font-weight: bold; margin-bottom: 10px">
                                PHÍ THAM DỰ : 10.700.000 VNĐ
                            </p>
                            <p style="font-size: 20px; color: black;font-weight: bold; margin-bottom: 10px">
                                Thanh toán trước 31/10: Ưu đãi giảm 40% giá gốc
                            </p>
                            <p style="font-size: 20px; color: black;font-weight: bold; margin-bottom: 10px">
                                Thanh toán trước 14/11: Ưu đãi giảm 10% giá gốc
                            </p>
                            <p style="font-size: 20px; color: black;font-weight: bold; margin-bottom: 10px">
                                 Chính sách nhóm :7.500.000/người  cho nhóm từ 2 người trở lên
                            </p>
                            </ul>
                            <ul style="line-height: 1.6;font-size: 18px;color: #333333; text-align: justify; margin-bottom: 40px">
                                <li>
                                    Giảm 1.000.000 VNĐ cho các học viên không ở TPHCM
                                </li>
                                <li>
                                    1 tháng hỗ trợ online tư vấn, giải đáp thắc mắc cho các học viên đã tham gia khoá
                                    học
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <!-- /course-details -->
                <div class="affiliate-market-guide mb65">
                    <div class="section-title-2 mb20 headline text-left">
                        <h2><span>CHƯƠNG TRÌNH HỌC</span></h2>
                    </div>
                    <div class="affiliate-market-accordion">
                        <div id="accordion" class="panel-group">
                            <div class="panel">
                                <div class="panel-title" id="headingOne">
                                    <div class="ac-head">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                            <span>01</span> Bản đồ Chiến lược Công ty
                                        </button>

                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Giới thiệu mô hình Thẻ điểm cân bằng (BSC)
                                            </li>
                                            <li>
                                                Giới thiệu những hướng chiến lược ở 4 Khía cạnh
                                            </li>
                                            <li>
                                                Phương pháp phân tích nhân quả trong Thẻ điểm cân bằng
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="headingTwo">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="true"
                                                aria-controls="collapseTwo">
                                            <span>02</span> Những điều cần biết về KPI
                                        </button>

                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Các lỗi phổ biến khi triển khai KPI tại doanh nghiệp
                                            </li>
                                            <li>
                                                Phương pháp chuyển đổi mục tiêu thành chỉ số đo lường
                                            </li>
                                            <li>
                                                Phương pháp SMART KPI khi ứng dụng
                                            </li>
                                            <li>
                                                Phương pháp xây dựng KPI theo mục tiêu công việc
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="headingThree">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="true"
                                                aria-controls="collapseThree">
                                            <span>03</span> Phương pháp xây dựng KPI từ cấp Công ty đến nhân viên
                                        </button>

                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Phương pháp lựa chọn KPI theo chuỗi giá trị
                                            </li>
                                            <li>
                                                Phương pháp phân tích ma trận đóng góp
                                            </li>
                                            <li>
                                                Phương pháp triển khai KPI từ Công ty đến nhân viên
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="headingFoure">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseFoure" aria-expanded="true"
                                                aria-controls="collapseFoure">
                                            <span>04</span> Ứng dụng công nghệ vào đánh giá KPI
                                        </button>


                                    </div>
                                </div>
                                <div id="collapseFoure" class="collapse" data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Thực hành xây dựng KPI theo VTCD từ KPI của phòng
                                            </li>
                                            <li>
                                                Ứng dụng công nghệ vào đánh giá KPI
                                            </li>
                                            <li>
                                                Quy trình đánh giá KPI
                                            </li>
                                            <li>
                                                Chia sẻ kinh nghiệm ứng dụng kết quả KPI
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-title" id="headingFive">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="true"
                                                aria-controls="collapseFoure">
                                            <span>05</span> Chia sẻ kinh nghiệm KPI trong vận hành doanh nghiệp
                                        </button>


                                    </div>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Lộ trình triển khai dự án KPI mẫu
                                            </li>
                                            <li>
                                                Chia sẻ các yếu tố quyết định thành công của dự án KPI
                                            </li>
                                            <li>
                                                Chia sẻ kinh nghiệm ứng dụng kết quả KPI - Q&A
                                            </li>
                                            <li>
                                                Những điểm cần lưu ý khi điều hành cuộc họp
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-title" id="headingSix">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseSix" aria-expanded="true"
                                                aria-controls="collapseFoure">
                                            <span>06</span> Thuyết trình đề tài nhóm
                                        </button>


                                    </div>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul>
                                            <li>
                                                Thuyết trình theo nhóm: Bản đồ chiến lược , KPI cấp Công ty
                                            </li>
                                            <li>
                                                Thực hiện kiểm tra cuối khoá
                                            </li>
                                            <li>
                                                Trao bằng tham gia khoá học
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-title" id="headingSeven">
                                    <div class="ac-head">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseSeven" aria-expanded="true"
                                                aria-controls="collapseFoure">
                                            <span>07</span> ỨNG DỤNG THỰC TẾ
                                        </button>


                                    </div>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                                    <div class="panel-body">
                                        Hoàn trả 10% học phí cho các học viên hoàn thành bài tập cá nhân ứng dụng lý
                                        thuyết vào thực tế doanh nghiệp 2 tuần sau khoá học
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /market guide -->
                <div class="course-review">
                    <div class="section-title-2 mb20 headline text-left">
                        <h2>ĐÁNH GIÁ KHÓA HỌC</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ratting-preview">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="avrg-rating ul-li">
                                            <b>Điểm trung bình</b>
                                            <span class="avrg-rate">9.4</span>
                                            <ul>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                            </ul>
                                            <b>40 Đánh giá</b>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="avrg-rating ul-li">
                                            <span>Chi tiết</span>
                                            <div class="rating-overview">
                                                <span class="start-item">10 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">26</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">9 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">8</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">8 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">4</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">7 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">2</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">6 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-top: 21px">
                                        <div class="avrg-rating ul-li">
                                            <div class="rating-overview">
                                                <span class="start-item">5 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">4 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">3 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">2 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                            <div class="rating-overview">
                                                <span class="start-item">1 sao</span>
                                                <span class="start-bar"></span>
                                                <span class="start-count">0</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /review overview -->
                <div class="couse-comment">
                    <div class="blog-comment-area ul-li about-teacher-2">
                        <ul class="comment-list">
                            <li>
                                <div class=" comment-avater">
                                    <img src="./base/image/man.png" alt="">
                                </div>
                                <div class="author-name-rate">
                                    <div class="author-name float-left">
                                        Người viết : <span>Nguyễn Hoàng Duy</span>
                                        <br>
                                        <span>CÔNG TY TNHH DỊCH VỤ SRVC FREIGHT VIỆT NAM</span>
                                    </div>
                                    <div class="comment-ratting float-right ul-li">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="time-comment float-right">10 Ngày trước</div>
                                </div>
                                <div class="author-designation-comment">
                                    <h3>Khóa học tốt!!</h3>
                                    <p>
                                        Khoá đào tạo trong thời gian ngắn đã truyền tải được những kiến thức then chốt .
                                        Khoá học giúp tôi xác định được mục tiêu, cách thức triển khai KPI hiệu quả cho
                                        đơn vị. Tôi thực sự đánh giá cao sự nhiệt tình của đội ngũ. CJS
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class=" comment-avater">
                                    <img src="./base/image/woman.png" alt="">
                                </div>
                                <div class="author-name-rate">
                                    <div class="author-name float-left">
                                        Người viết : <span>Nguyễn Thị Mỹ Duyên</span>
                                        <br>
                                        <span>CÔNG TY TNHH ERACARE HEALTH MART VIỆT NAM</span>
                                    </div>
                                    <div class="comment-ratting float-right ul-li">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="time-comment float-right">20 Ngày trước</div>
                                </div>
                                <div class="author-designation-comment">
                                    <h3>Rất hay</h3>
                                    <p>
                                        Giảng viên giảng dạy cụ thể, tận tình, giải đáp thắc mắc của học viên cụ thể, rõ
                                        ràng. Đưa ra nhiều ý kiến tích cực để hỗ trợ học viên
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class=" comment-avater">
                                    <img src="./base/image/woman.png" alt="">
                                </div>
                                <div class="author-name-rate">
                                    <div class="author-name float-left">
                                        Người viết : <span>Trần Tuyết Anh</span>
                                        <br>
                                        <span>CÔNG TY CP NHỰA C.H.A</span>
                                    </div>
                                    <div class="comment-ratting float-right ul-li">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="time-comment float-right">25 Ngày trước</div>
                                </div>
                                <div class="author-designation-comment">
                                    <h3>Rất bổ ích</h3>
                                    <p>
                                        Sau khoá học, tôi đã hiểu rõ hơn về những yếu tố cần khi bắt đầu tiến hành xây
                                        dựng đánh giá KPI. Tôi rất thích khoá học được thiết kế thực hành theo nhóm và
                                        giảng viên đào tạo trực tiếp sửa các bài tập
                                    </p>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="side-bar">
                    <div class="course-side-bar-widget">
                        <h3>Học phí</h3>
                        <div class="col-md-12" style="margin-bottom: 10px;padding: 0px">
                            <div class="col-md-3" style="padding: 0px; position: relative">
                                <img src="base/image/flag.png" style="padding: 5px 10px 10px 0px">
                                <span style="position: absolute; top:22%; left: 25%; color: white; font-weight: normal; font-size: 16px">40%</span>
                            </div>
                            <div class="col-md-9" style="padding: 0px; margin-bottom: 10px ">
                                <span style="font-size: 27px; color: #dc283d">6.420.000 VNĐ</span>

                                <span style="text-decoration: line-through;color: black;font-weight: normal;font-size: 20px;">
                                10.700.000 VNĐ
                            </span>
                            </div>
                        </div>


                        <button style="width: 100%;border: none"
                                data-toggle="modal"
                                data-target="#registerModal"
                                class="genius-btn gradient-bg text-center text-uppercase float-left bold-font">
                            <span style="font-size: 18px; color: white">Đăng ký học <i class="fas fa-caret-right"></i></span>
                        </button>
                    </div>

                    <div class="couse-feature ul-li-block">
                        <ul>
                            <li>Số buổi <span>6 buổi</span></li>
                            <li>Ngôn ngữ <span>Tiếng Việt</span></li>
                            <li>Thời lượng <span>3 tiếng/buổi</span></li>
                        </ul>
                    </div>
                    <div style="margin-top: 20px">
                        <span style="font-size: 20px">Thời gian dự kiến :</span>
                    </div>
                    <div style="margin-top: 10px">
                        <ul style="font-size: 16px; color: #333333">
                            <li>18h-21h &nbsp; 17/12/2018</li>
                            <li>18h-21h &nbsp; 19/12/2018</li>
                            <li>09h-12h &nbsp; 21/12/2018</li>
                            <li>13h-16h &nbsp; 21/12/2018</li>
                            <li>09h-12h &nbsp; 22/12/2018</li>
                            <li>18h-21h &nbsp; 28/12/2018</li>
                        </ul>
                        <span style="color: #333333">Lưu ý : Học viên mang theo laptop để có thể thực hành trên hệ thống</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<div id="registerModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 490px;">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 0px;height: calc(100vh - 70px);">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đăng ký khóa học</h4>
            </div>
            <div class="modal-body">
                <iframe frameborder="0" width="100%" height="85%"
                        src="https://www.saleupcrm.com/subscribe/264dd0efbb360bad1c7d79ad2dbcec80/"
                        id="cjsform-1540276065">
                </iframe>
                <!--<iframe src="https://www.saleupcrm.com/subscribe/264dd0efbb360bad1c7d79ad2dbcec80">-->
                <!--<p>Your browser does not support iframes.</p>-->
                <!--</iframe>-->
            </div>
        </div>

    </div>
</div>


<!-- End of course details section
      ============================================= -->
<!-- Start of footer section
      ============================================= -->

<script>
    function showRegisterModal() {
        $('#registerModal').modal();
    }
</script>