<div class="footer-section">
    <div class="container footer-main">
        <div class="row footer__content">
            <div class="col-md-6">
                <div class="footer__content_pd">
                    <h4>Công ty TNHH Cloudjet Solutions</h4>
                    <div class="company-info">
                        <p class="com-name"></p>
                        <div class="footer__address_info">
                            <p>
                                Điện thoại: (028) 66 808 662 - (028) 665 99 998
                            </p>
                        </div>
                        <div class="footer__location_info">
                            <p>
                                Hòm thư: hello@cloudjetsolutions.com
                            </p>
                        </div>
                        <div class="footer__location_info">
                            <p>
                                VP Việt Nam: Lầu 2, Tòa nhà F Central, 16A Lê Hồng Phong, Phường 12, Quận 10, TP.HCM
                            </p>
                        </div>
                        <div class="footer__location_info">
                            <p>
                                VP Singapore: 71 Ayer Rajah Crescent, #02-10/11, Singapore (139951)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="footer__content_pd">
                    <h4>Tài nguyên</h4>
                    <div class="company-info">
                        <a href="/vn/about-cjs/index.html">
                            <p>Về Cloudjet Solutions</p>
                        </a>
                        <a  target="blank" href="http://blog.cloudjetsolutions.com">
                            <p>
                                Cloudjet Blog
                            </p>
                        </a>
                        <a href="/vn/library/index.html">
                            <p>
                                Thư viện
                            </p>
                        </a>
                        <a href="/vn/jobs/">
                            <p>
                                Tuyển dụng
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3">
                <div class="footer__content_pd">
                    <h4>Sản phẩm</h4>
                    <div class="company-info">
                        <a href="/vn/coporate/coporate.html">
                            <p>
                                Cloudjet KPI - Corporate
                            </p>
                        </a>
                        <a  target="blank" href="https://www.sme.cloudjetkpi.com/">
                            <p>
                                Cloudjet KPI - SME
                            </p>
                        </a>
                        <a  target="blank" href="https://www.academy.cloudjetkpi.com/">
                            <p>
                                Cloudjet Academy
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) {
            z._.push(c)
        }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0];
        z.set = function (o) {
            z.set.
            _.push(o)
        };
        z._ = [];
        z.set._ = [];
        $.async = !0;
        $.setAttribute('charset', 'utf-8');
        $.src = '//v2.zopim.com/?2NRT6bHTWgMWjvL8c9CExz5rsY8EPq4Q';
        z.t = +new Date;
        $.
            type = 'text/javascript';
        e.parentNode.insertBefore($, e)
    })(document, 'script');

</script>
<!--End of Zopim Live Chat Script-->
<!-- End footer section -->

<!--<style>-->
    <!--&lt;!&ndash; @media (min-width: 768px) {-->
        <!--.branch {-->
            <!--margin-left: 15px !important;-->
        <!--}-->
    <!--}-->

    <!--h1 {-->
        <!--font-size: 30px;-->
    <!--}-->

    <!--&ndash;&gt;-->
<!--</style>-->
<!-- Start Demo section -->
<!-- End Demo section -->
<!--<div id="fancybox-tmp"></div>-->
<!--<div id="fancybox-loading">-->
    <!--<div></div>-->
<!--</div>-->
<!--<div id="fancybox-overlay"></div>-->
<!--<div id="fancybox-wrap">-->
    <!--<div id="fancybox-outer">-->
        <!--<div class="fancybox-bg" id="fancybox-bg-n"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-ne"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-e"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-se"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-s"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-sw"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-w"></div>-->
        <!--<div class="fancybox-bg" id="fancybox-bg-nw"></div>-->
        <!--<div id="fancybox-content"></div>-->
        <!--<a id="fancybox-close"></a>-->

        <!--<div id="fancybox-title"></div>-->
        <!--<a href="javascript:;" id="fancybox-left">-->
            <!--<span class="fancy-ico" id="fancybox-left-ico"></span>-->
        <!--</a>-->
        <!--<a href="javascript:;" id="fancybox-right">-->
            <!--<span class="fancy-ico" id="fancybox-right-ico"></span>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="facebook-box-none" id="facebook-box"></div>-->
<!--<style>-->
    <!--@media (max-width: 930px) {-->
        <!--#facebook-box {-->
            <!--display: none;-->
        <!--}-->
    <!--}-->

    <!--.slide img {-->
        <!--right: 0;-->
    <!--}-->
<!--</style>-->
<!--<script type="text/javascript">-->
    <!--var close = false;-->
    <!--$(".close-facebook-like").click(function () {-->
        <!--$("#facebook-box").fadeOut();-->
        <!--close = true;-->
    <!--})-->
    <!--$(window).scroll(function () {-->
        <!--if ($(document).height() - $(document).height() * 0.4 < window.scrollY && $(document).width() > 900 && !close) {-->
            <!--$("#facebook-box").show();-->
        <!--} else {-->
            <!--$("#facebook-box").hide();-->
        <!--}-->
    <!--});-->
    <!--function setCookie(c_name, value, hours) {-->
        <!--var exdate = new Date();-->
        <!--exdate.setTime(exdate.getTime() + hours * 3600 * 1000);-->
        <!--var c_value = escape(value) + ((hours == null) ? "" : "; expires=" + exdate.toUTCString());-->
        <!--c_value = c_value + "; path=/";-->
        <!--document.cookie = c_name + "=" + c_value;-->
    <!--}-->

    <!--function getCookie(c_name) {-->
        <!--var i, x, y, ARRcookies = document.cookie.split(";");-->
        <!--for (i = 0; i < ARRcookies.length; i++) {-->
            <!--x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));-->
            <!--y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);-->
            <!--x = x.replace(/^\s+|\s+$/g, "");-->
            <!--if (x == c_name) {-->
                <!--return unescape(y);-->
            <!--}-->
        <!--}-->
    <!--}-->

    <!--function getURLParameter(name) {-->
        <!--return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;-->
    <!--}-->

    <!--var param = getURLParameter('utm_source');-->
    <!--if (param && param != "") {-->
        <!--setCookie('utm_source', param, 2);-->
    <!--}-->

    <!--var utm_medium = getURLParameter('utm_medium');-->
    <!--if (utm_medium && utm_medium != '') {-->
        <!--setCookie('utm_medium', utm_medium, 2);-->
    <!--}-->
<!--</script>-->
<!--<style>-->
    <!--.intercom-launcher-button {-->
        <!--box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.23);-->
    <!--}-->

    <!--.intercom-launcher-button {-->
        <!--background-image: url(https://js.intercomcdn.com/images/icon-launcher.png);-->
        <!--background-size: 22px 22px;-->
        <!--background-repeat: no-repeat;-->
        <!--border-radius: 50%;-->
        <!--border-style: solid;-->
        <!--border-width: 1px;-->
        <!--position: absolute;-->
        <!--bottom: 0;-->
        <!--right: 0;-->
        <!--width: 48px;-->
        <!--height: 48px;-->
        <!--cursor: pointer;-->
        <!--background-position: center;-->
        <!--background-color: #3fa603;-->
        <!--border-color: #177e00;-->
    <!--}-->

    <!--.helpdesk {-->
        <!--position: fixed;-->
        <!--bottom: 15px;-->
        <!--right: 15px;-->
    <!--}-->

    <!--.helpdesk-body {-->
        <!--background: url(//88.cjs.vn/img/helpdesk-bg.jpg) no-repeat;-->
        <!--height: 100%;-->
        <!--width: 100%;-->
        <!--min-height: 288px;-->
    <!--}-->
<!--</style>-->


<script type="text/javascript">
    $(document).ready(function () {
        $('body').css('padding', '0');
    });

</script>
<!-- start Mixpanel -->
<script type="text/javascript">(function (e, b) {
        if (!b.__SV) {
            var a, f, i, g; window.mixpanel = b; b._i = []; b.init = function (a, e, d) {
                function f(b, h) { var a = h.split("."); 2 == a.length && (b = b[a[0]], h = a[1]); b[h] = function () { b.push([h].concat(Array.prototype.slice.call(arguments, 0))) } } var c = b; "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel"; c.people = c.people || []; c.toString = function (b) { var a = "mixpanel"; "mixpanel" !== d && (a += "." + d); b || (a += " (stub)"); return a }; c.people.toString = function () { return c.toString(1) + ".people (stub)" }; i = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for (g = 0; g < i.length; g++)f(c, i[g]); b._i.push([a, e, d])
            }; b.__SV = 1.2; a = e.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; f = e.getElementsByTagName("script")[0]; f.parentNode.insertBefore(a, f)
        }
    })(document, window.mixpanel || []);
    mixpanel.init("e7aa889853bf5b24349e02e95d6a082e");</script>