<style>
    #main-library {
        margin-top: 190px
    }

    .side-menu-push {
        background-color: #ffffff;
    }

    .thumbnail {
        border: none;
        margin-bottom: 120px;
    }

    .list-library .body {
        margin-top: 24px;
        margin-bottom: 12px;
    }

    .list-library .body .title a {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: normal;
        color: #041A30;
    }

    .list-library .body .content {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .title .content__title {
        font-weight: bold;
        font-size: 28px;
        line-height: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #005BAA;
    }

    .title .content__box_undershift {
        background-image: url("../../assests/img/Rectangle 5.1.png");
        width: 48px;
        height: 8px;
        margin-bottom: 11px;
    }

    .list-library {
        margin-top: 60px;
        padding-left: 16px;
        padding-right: 16px;
    }
    @media (max-width: 992px) {
        #main-library {
            margin-top: 130px
        }

        .thumbnail {
            border: none;
            margin-bottom: 40px;
        }

        .list-library {
            margin-top: 32px;
        }
    }

    .footer-section {
        margin-top: 0;
    }

    .hide {
        display: none;
    }
</style>
<script>
    $(document).ready(function(){
        $('#library-active').addClass('active');
    })
</script>
<div id="main-library">
    <div class="project container">
        <div class="title">
            <div class="content__box_undershift"></div>
            <div class="content__title">THƯ VIỆN</div>
        </div>
        <div class="list-library">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="../../assests/img/library/xay-dung-kpi-3.png" alt="Lights" style="width:100%">
                        <div class="body">
                            <div class="title">
                                <a href="/vn/thu-vien/danh-gia-kpi-quan-trong-hon-ban-nghi/">
                                    Đánh giá KPI quan trọng hơn bạn nghĩ
                                </a>
                            </div>
                            <div class="content">
                                Đánh giá KPI là việc làm cần thiết để cải thiện hiệu suất trong doanh nghiệp, tuy nhiên
                                vẫn nhiều người chưa hiểu rõ ý nghĩa của chỉ số này để khuyến khích và tạo động lực cho
                                nhân viên.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="../../assests/img/library/xay-dung-kpi-2.png" alt="Lights" style="width:100%">
                        <div class="body">
                            <div class="title">
                                <a href="/vn/thu-vien/bi-quyet-de-xay-dung-kpi-hieu-qua/">
                                    Bí quyết để xây dựng KPI hiệu quả
                                </a>
                            </div>
                            <div class="content">
                                Việc xây dựng KPI hiệu quả là bài toán khó của quản trị doanh nghiệp, đặt mục tiêu cho
                                từng vị trí, thiết lập KPI SMART và không quên chỉ số hiệu suất sẽ góp phần thành công
                                của một bộ KPI.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="../../assests/img/library/xay-dung-kpi-1.png" alt="Lights" style="width:100%">
                        <div class="body">
                            <div class="title">
                                <a href="/vn/thu-vien/cach-tinh-kpi-phu-hop-cho-tung-nhan-vien/">
                                    Cách tính KPI phù hợp cho từng nhân viên
                                </a>
                            </div>
                            <div class="content">
                                Một số mẫu KPI cho phòng ban có thể dùng cho mục đích tham khảo. Tùy đặc điểm của từng
                                công ty, có thể thiết lập KPI khác nhau.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="thumbnail">
                        <img src="../../assests/img/library/xay-dung-kpi-4.png" alt="Lights" style="width:100%">
                        <div class="body">
                            <div class="title">
                                <a href="/vn/thu-vien/mau-kpi-cho-tung-phong-ban-va-ca-nhan/">
                                    Mẫu KPI cho từng phòng ban và cá nhân
                                </a>
                            </div>
                            <div class="content">
                                Một số mẫu KPI cho phòng ban có thể dùng cho mục đích tham khảo. Tùy đặc điểm của từng
                                công ty, có thể thiết lập KPI khác nhau.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>