
<div id="corporate-page">
    <div class="main-corporate">
        <div class="container-fluid container-block-1">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-sm-offset-1 margin-top-70 ">
                <div class="row introduce-corporate">
                    <div class="col-md-6 col-sm-12 col-xs-12 container-block-1__title corporate__title">
                        <div>
                            <p class="content__title--small">GIẢI PHÁP TRỌN GÓI</p>
                            <p class="content__title--big">
                                CLOUDJET KPI <br/>CORPORATE
                            </p>
                            <p class="introduce-corporate__subtitle">Gói đầu tư thông minh nhất cho Doanh nghiệp</p>
                        </div>
                        <div class="container-block-1__introduce-img view-xs">
                            <div class="thumbnail content__img">
                                <img src="../assests/img/corporate/mobile_image.png" alt="Smiley face"/>
                            </div>
                        </div>
                        <div class="introduce-corporate__btn">
                            <a href="#form-signup-saleup">
                                <button class="content__button-gradient">Đăng ký</button>
                            </a>
                        </div>
                    </div>
                    <div class="view-md col-md-6 col-sm-12">
                        <div class="container-block-1__introduce-img thumbnail content__img">
                            <img src="../assests/img/corporate/corporate_image.png" alt="Smiley face"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-block-2-3">
            <div class="container-block-2">
                <div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1  ">
                    <div class="row">
                        <div class="container-block-2__title corporate__title col-sm-12">
                            <div class="dash-with-background"></div>
                            <p class="content__title corporate-content__title">LỢI ÍCH<br/> CHO DOANH NGHIỆP</p>
                        </div>
                    </div>
                    <div class="container-block-2__content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="content__box-shadow">
                                    <div>
                                        <img src="../assests/img/corporate/icon_1.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__title--small">QUẢN TRỊ <br/> CHIẾN LƯỢC</p>
                                    <p class="content__text">Xây dựng bản đồ KPI & và quản trị chiến lược & nhân sự theo mô hình BSC.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="content__box-shadow">
                                    <div>
                                        <img src="../assests/img/corporate/icon_2.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__title--small">ỨNG DỤNG <br/> HỆ THỐNG HIỆN ĐẠI</p>
                                    <p class="content__text">Sử dụng hệ thống cập nhật liên tục và nhanh chóng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="content__box-shadow">
                                    <div>
                                        <img src="../assests/img/corporate/icon_3.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__title--small">ĐO LƯỜNG VÀ <br/> ĐÁNH GIÁ DỄ DÀNG </p>
                                    <p class="content__text">Đánh giá hiệu quả làm việc của công ty, phòng ban và năng lực nhân viên với những mục tiêu và KPI rõ ràng.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="content__box-shadow">
                                    <div>
                                        <img src="../assests/img/corporate/icon_4.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__title--small">ĐỒNG HÀNH CÙNG <br/> DOANH NGHIỆP</p>
                                    <p class="content__text">Theo sát và hỗ trợ doanh nghiệp xuyên suốt thời gian triển khai và sau dự án.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-block-3">
                <div class="">
                    <div class="col-md-5 col-xs-12 col-sm-12 col-md-offset-1 ">
                        <div class="row">
                            <div class="container-block-3__title corporate__title col-sm-12 col-xs-12">
                                <div class="dash-with-background"></div>
                                <p class="content__title corporate-content__title">QUY TRÌNH TƯ VẤN</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-block-3__content">
                                <div class="">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="content__box-shadow">
                                            <div class="box-number col-md-1 col-sm-1 col-xs-1">
                                                <p class="content__title--number">01</p>
                                            </div>
                                            <div class="box-text col-md-11 col-sm-11 col-xs-11">
                                                <p class="content__text">Khảo sát Doanh nghiệp</p>
                                            </div>
                                        </div>
                                        <div class="content__box-shadow">
                                            <div  class="box-number col-md-1 col-sm-1 col-xs-1">
                                                <p class="content__title--number">02</p>
                                            </div>
                                            <div class="box-text col-md-11 col-sm-11 col-xs-11">
                                                <p class="content__text">Chuẩn hóa Bản đồ Chiến lược Công ty</p>
                                            </div>
                                        </div>
                                        <div class="content__box-shadow">
                                            <div  class="box-number col-md-1 col-sm-1 col-xs-1">
                                                <p class="content__title--number">03</p>
                                            </div>
                                            <div class="box-text col-md-11 col-sm-11 col-xs-11">
                                                <p class="content__text">Hoàn thiện thước đo đánh giá từ Công ty đến nhân viên</p>
                                            </div>
                                        </div>
                                        <div class="content__box-shadow">
                                            <div class="box-number col-md-1 col-sm-1 col-xs-1">
                                                <p class="content__title--number">04</p>
                                            </div>
                                            <div class="box-text col-md-11 col-sm-11 col-xs-11">
                                                <p class="content__text">Ứng dụng phần mềm đánh giá Hiệu suất toàn Công ty</p>
                                            </div>
                                        </div>
                                        <div class="content__box-shadow">
                                            <div class="box-number col-md-1 col-sm-1 col-xs-1">
                                                <p class="content__title--number">05</p>
                                            </div>
                                            <div class="box-text col-md-11 col-sm-11 col-xs-11">
                                                <p class="content__text">Đồng hành hỗ trợ xuyên suốt một năm ứng dụng</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 view-md">
                        <div class="content__img thumbnail">
                            <img src="../assests/img/corporate/corporate_image_1.png" alt="Smiley face"/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 view-xs  ">
                        <div class="content__img thumbnail">
                            <img src="../assests/img/corporate/mobile_image_1.png" alt="Smiley face"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-block-4">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 view-md content__img">
                    <div class="thumbnail content__img">
                        <img src="../assests/img/corporate/block_3_image_md.png" alt="Smiley face"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="container-block-4__title corporate__title">
                                <div class="dash-with-background"></div>
                                <p class="content__title corporate-content__title">GIÁ TRỊ HỆ THỐNG</p>
                            </div>
                            <div class="container-block-4__desc view-md">
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Quản lý mục tiêu cho từng vị trí công việc</p>
                                    </div>
                                </div>
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Theo dõi KPI cá nhân đơn giản và dễ dàng bằng tài khoản riêng</p>
                                    </div>
                                </div>
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Quản trị KPI & báo cáo trực tuyến</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-block-4__desc col-xs-offset-2 view-xs">
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Quản lý mục tiêu cho từng vị trí công việc</p>
                                    </div>
                                </div>
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Theo dõi KPI cá nhân đơn giản và dễ dàng bằng tài khoản riêng</p>
                                    </div>
                                </div>
                                <div class="desc__box-text">
                                    <span><img src="../assests/img/corporate/check_icon.svg"></span>
                                    <div class="des-text">
                                        <p>Quản trị KPI & báo cáo trực tuyến</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="view-xs content__img col-sm-12 col-xs-12">
                    <div class="thumbnail content__img">
                        <img src="../assests/img/corporate/mobile_image_block_4.png" alt="Smiley face"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-block-5">
            <div id="form-signup-saleup" class="col-sm-12 col-xs-12 col-md-10 col-md-offset-1 ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 corporate__title">
                        <div class="dash-with-background"></div>
                        <p class="content__title corporate-content__title">Mong muốn triển khai KPI <br/> cho doanh nghiệp mình? <br/> Đăng ký tại đây</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="content__signup-saleup">
                            <div style="display: inline-block;padding: 20px 20px;margin: 0 auto">
                                <iframe frameborder="0" class="signup-saleup__input-box col-xs-12" height="500" src="//www.saleupcrm.com/subscribe/5b5e22366994bdf5c8be91598d1d0572/" id="cjsform"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix col-md-12 col-xs-12">
                        <div class="content__contact-us">
                            <p class="text-contact">HOẶC GỌI NGAY HOTLINE</p>
                            <div class="contact-us__host-line">
                                <p>(028) 668 08 662</p>
                                <p>(028) 665 99 998</p>
                            </div>
                            <p class="text-contact">ĐỂ CLOUDJET CÓ THỂ TƯ VẤN CHO BẠN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#product-active').addClass('active');
})
</script>