<html>

<head>
        <%- include ../vn/head.ejs %>
</head>

<body class="side-menu-push">
<div id="fb-root"></div>
<!-- Thang test-->
<script>(function (d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s);
 js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=564647290251137";
 fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));</script>
<div class="none-display">
    <!-- Google Code for Global English Cloudjet KPI List -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1047959242;
        var google_conversion_label = "yBSTCNvfoV8Qyq3a8wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div class="inline-display">
            <img class="img-no-border" alt="cloudjet solutions"
                 src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1047959242/?value=1.00&amp;currency_code=USD&amp;label=yBSTCNvfoV8Qyq3a8wM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

</div>
<!-- Start Header -->
<header class="header">
    <div class="menu-box">

        <nav class="navbar">
            <div class="container-fluid ttr-container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-cjs lg-logo" href="/">
                        <img src="/vn/assests/img/logo.png" alt="Cloudjet Solutions"/>
                    </a>
                    <a class="navbar-brand logo-cjs sm-logo" href="/">
                        <img src="/vn/assests/img/logo-01.png" alt="Cloudjet Solutions"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="lnr lnr-laptop-phone"></i><span>Products</span><i class="lnr lnr-chevron-down ttr-drop"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/vn/products/cloudjet-kpi.html">
                                    <span class="pro-nav"><img src="/assests/img/icon-cloudjet-kpi.png"></span>
                                    Cloudjet KPI
                                    </a></li>
                                <li><a href="http://www.cjs.vn/quan-ly-khach-hang-quy-trinh-ban-hang-CRM-Cloudjet-SaleUp/">
                                    <span class="pro-nav"><img src="/assests/img/icon-cloudjet-pipeline.png"></span>
                                    Cloudjet SaleUp CRM</a></li>
                                <!--<li><a href="http://www.socialretarget.com/" target="_blank">

                                        <img class="social-retarget" src="/assests/img/social-retarget-logo.png" alt="social retarget">
                                     </a></li>-->
                                    <!--li><a href="http://www.cjs.vn/products/pay-for-performance-p4p/">
                                    <span class="pro-nav"><img src="http://88.cjs.vn/img/landing/icon-cloudjet-p4p-new.png"></span>
                                    Cloudjet PayPro</a></li-->
                                <!--li><a href="http://www.cjs.vn/workshop/">
                                    <span class="pro-nav"><img src="http://88.cjs.vn/img/landing/icon-cloudjet-workshop.png"></span>
                                    Kh??a h???c ????o t???o BSC & KPI</a></li-->

                            </ul>
                        </li>
                        <li><a href="#customer"><i class="lnr lnr-earth"></i><span>Clients</span></a></li>
                        <!--<li>
                            <a href="http://www.cjs.vn/kpi-qna/">H???i ????p</a>
                        </li>-->
                        <li>
                            <a href="//www.cjs.vn/cloudjet-download/"><i class="lnr lnr-book"></i><span>Download</span></a>
                        </li>
                        <li>
                            <a href="#contact"><i class="lnr lnr-phone"></i><span>Consulting</span></a>
                        </li>
                        <li>
                            <a href="/vn/jobs/"><i class="lnr lnr-license"></i><span>Jobs</span></a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN<i class="lnr lnr-chevron-down ttr-drop"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/en/">English</a></li>
                                <li><a href="/vn/">Vietnamese</a></li>
                                <li><a href="#">Malaysian</a></li>
                            </ul>
                        </li>
                        <!-- <li class="flag">
                            <a href="/vn/"><img src="/vn/assests/img/flag_vn.gif"></a>
                            <a href="/en/"><img src="/vn/assests/img/flag_usa.png"></a>
                            <a href="#"><img src="/vn/assests/img/flag_malaysia.png"></a>
                        </li> -->
                        <li><a href="http://cjs.vn/login/" class="login"><i class="lnr lnr-enter"></i><span>Login</span></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="clearfix"></div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35744404-16', 'auto');
      ga('send', 'pageview');

    </script>
</header>
<!-- End Header -->


<%- yield %>


<!-- Start footer section -->
<div class="footer-section">
    <div class="footer-main">
        <div class="menu-footer">
            <ul class="">
                <li><a href="/en/about-us.html">About Cloudjet</a></li>
                <li><a href="http://www.cjs.vn/cloudjet-download/">Download</a></li>
                <li><a href="http://www.cjs.vn/quan-ly-khach-hang-quy-trinh-ban-hang-CRM-Cloudjet-SaleUp/">SaleUp</a></li>
                <li><a href="/vn/products/cloudjet-kpi.html">Cloudjet KPI</a></li>
                <li><a href="http://blog.cloudjetsolutions.com/" rel="dofollow">Blog</a></li>
                <li><a href="/vn/products/cloudjet-kpi.html#contact">Contact</a></li>
                <!--li><a href="/jobs.html">Tuy???n d???ng</a></li-->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="footer-left">
                <div class="f-cjslogo">
                    <img alt="Cloudjet Solutions" src="/vn/assests/img/footer-logo.png">
                </div>
                <div class="company-info">
                    <p class="com-name">Cloudjet Solutions Corp.</p>

                    <p><i class="fa fa-phone"></i> (028) 66 808 662 </p>

                    <p><i class="fa fa-phone"></i> (028) 665 99 998</p>

                    <p><a href="mailto:hello@cloudjetsolutions.com"><i class="fa fa-envelope-o"></i> hello@cloudjetsolutions.com</a>
                    </p>
                </div>
            </div>
            <div class="footer-right">
                <div class="office" >
                    <div class="add-title">Address</div>
                    <div class="span2">
                        <i class="fa fa-map-marker"></i>
                        Lầu 2, Tòa nhà F Central, 16A Lê Hồng Phong, Phường 12, Quận 10, TP.HCM
                    </div>
                    <div class="span2">
                        <i class="fa fa-map-marker"></i>
                        71 Ayer Rajah Crescent, #02-10/11, Singapore (139951)
                    </div>
                </div>
                <div class="reg">
                    <!--div class="add-title" style="margin-bottom:0>????ng k?? ????? c???p nh???t nh???ng th??ng tin h???u ??ch cho doanh nghi???p b???n:</div>
                    <div class="form-reg">

                        <iframe frameborder="0" width="250" height="180" src="//www.cjs.vn/subscribe/57deeb2fc193af8dcff1172b8f20bd7b/" id="cjsform-1458180160"></iframe>

<script src="//88.cjs.vn/js/form/source.js"></script>

                        <div>
                            <input name="emailreg" type="text" class="email-reg" placeholder="?????a ch??? email">
                        </div>
                        <input type="submit" value="????ng k??" class="bt-reg">
                    </div-->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="footer-social">
            <div class="socail-box">
            <p>Connect with Cloudjet Solutions</p>
            <ul class="socials-list" >
                <li><a href="https://www.facebook.com/cloudjetsolutions" title="Facebook"><i class="fa fa-facebook"></i>
                </a></li>
                <li><a href="http://www.linkedin.com/company/cloudjet-solutions" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://plus.google.com/u/0/107975323849103477884/" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://twitter.com/cjs_kpi" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></li>
            </ul>
            </div>
        </div>
    </div>

</div>
<!-- Thang test-->
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
     window.$zopim || (function (d, s) {
     var z = $zopim = function (c) {
     z._.push(c)
     }, $ = z.s =
     d.createElement(s), e = d.getElementsByTagName(s)[0];
     z.set = function (o) {
     z.set.
     _.push(o)
     };
     z._ = [];
     z.set._ = [];
     $.async = !0;
     $.setAttribute('charset', 'utf-8');
     $.src = '//v2.zopim.com/?2NRT6bHTWgMWjvL8c9CExz5rsY8EPq4Q';
     z.t = +new Date;
     $.
     type = 'text/javascript';
     e.parentNode.insertBefore($, e)
     })(document, 'script');

</script>
<!--End of Zopim Live Chat Script-->
<!-- End footer section -->

<style>
    <!--
    @media (min-width: 768px) {
        .branch {
            margin-left: 15px !important;
        }
    }

    h1 {
        font-size: 30;
    }

    -->
</style>
<!-- Start Demo section -->
<!-- End Demo section -->
<div id="fancybox-tmp"></div>
<div id="fancybox-loading">
    <div></div>
</div>
<div id="fancybox-overlay"></div>
<div id="fancybox-wrap">
    <div id="fancybox-outer">
        <div class="fancybox-bg" id="fancybox-bg-n"></div>
        <div class="fancybox-bg" id="fancybox-bg-ne"></div>
        <div class="fancybox-bg" id="fancybox-bg-e"></div>
        <div class="fancybox-bg" id="fancybox-bg-se"></div>
        <div class="fancybox-bg" id="fancybox-bg-s"></div>
        <div class="fancybox-bg" id="fancybox-bg-sw"></div>
        <div class="fancybox-bg" id="fancybox-bg-w"></div>
        <div class="fancybox-bg" id="fancybox-bg-nw"></div>
        <div id="fancybox-content"></div>
        <a id="fancybox-close"></a>

        <div id="fancybox-title"></div>
        <a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a
            href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a>
    </div>
</div>
<div class="facebook-box-none" id="facebook-box"></div>
<style>
    @media (max-width: 930px) {
        #facebook-box {
            display: none;
        }
    }

    .slide img {
        right: 0;
    }
</style>
<script type="text/javascript">
    var close = false;
    $(".close-facebook-like").click(function () {
        $("#facebook-box").fadeOut();
        close = true;
    })
    $(window).scroll(function () {
        if ($(document).height() - $(document).height() * 0.4 < window.scrollY && $(document).width() > 900 && !close) {
            $("#facebook-box").show();
        } else {
            $("#facebook-box").hide();
        }
    });
    function setCookie(c_name, value, hours) {
        var exdate = new Date();
        exdate.setTime(exdate.getTime() + hours * 3600 * 1000);
        var c_value = escape(value) + ((hours == null) ? "" : "; expires=" + exdate.toUTCString());
        c_value = c_value + "; path=/";
        document.cookie = c_name + "=" + c_value;
    }

    function getCookie(c_name) {
        var i, x, y, ARRcookies = document.cookie.split(";");
        for (i = 0; i < ARRcookies.length; i++) {
            x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
            y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == c_name) {
                return unescape(y);
            }
        }
    }

    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
    }

    var param = getURLParameter('utm_source');
    if (param && param != "") {
        setCookie('utm_source', param, 2);
    }

    var utm_medium = getURLParameter('utm_medium');
    if (utm_medium && utm_medium != '') {
        setCookie('utm_medium', utm_medium, 2);
    }
</script>
<style>
    .intercom-launcher-button {
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.23);
    }

    .intercom-launcher-button {
        background-image: url(https://js.intercomcdn.com/images/icon-launcher.png);
        background-size: 22px 22px;
        background-repeat: no-repeat;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-position: center;
        background-color: #3fa603;
        border-color: #177e00;
    }

    .helpdesk {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }

    .helpdesk-body {
        background: url(//88.cjs.vn/img/helpdesk-bg.jpg) no-repeat;
        height: 100%;
        width: 100%;
        min-height: 288px;
    }
</style>

<!--Helpdesk người dùng ít sử dụng, Quyền comment để add facebook messenger sau.-->

<!--<div class="helpdesk">
    <a href="#helpdesk-modal" data-toggle="modal">
        <div class="intercom-launcher-button"></div>
    </a>
</div>
<div id="helpdesk-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="background-color: transparent;">
    <div class="modal-body helpdesk-body">
        <button type="button" style="right: -55px; top: 0px;" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <div style="width: 350px; margin: 2.4em 14em;">
            <p style="color: #5e5e5e; text-indent: 20px;">
                Bạn gặp <strong>khó
                    khăn</strong> khi sử dụng hoặc có câu hỏi <strong>thắc mắc</strong>, vui lòng liên hệ số điện thoại
                Hotline để được hỗ trợ trực tiếp tức thì:
            </p>

            <div style="font-size: 20px; color: #006fc5; font-weight: bold; margin-left: 60px">
                + (028) 668 08 662<br>
                + (028) 665 99 998<br>
                + 0902 255 081
            </div>
            <p style="color: #5e5e5e; text-indent: 20px; margin-top: 20px;">
                Hoặc gởi email đến:
            </p>
            <a href="mailto:hello@cloudjetsolutions.com"
               style="font-size: 20px; color: #006fc5; font-weight: bold; margin-left: 60px">hello@cloudjetsolutions.com</a>
        </div>
    </div>
</div>-->


<script type="text/javascript">
    /*(function () {
     window._sr = window._sr || {};
     window._sr.site_id = "ac186c4216e75ed1db38eaedd156277a";
     window._sr.domain = "//static.socialretarget.com/";
     window._sr.host = "//www.socialretarget.com/";
     var sr = document.createElement('script');
     sr.type = 'text/javascript';
     sr.async = true;
     sr.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + window._sr.domain + "js/pixel.js";
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(sr, s);
     })();
     */
    $(document).ready(function () {
        $('body').css('padding', '0');
    });

</script>
<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("e7aa889853bf5b24349e02e95d6a082e");</script><!-- end Mixpanel -->
<!--<script type="text/javascript" src="../js/bootstrap.js"></script>-->
</body>
</html>
