<div class="small_corners"
     style="padding-top: 10px; font-size: 16px; line-height: 1.6; width:998px; margin: 10px auto;">
    <h3 class="about-us-title">Discover Cloudjet Solutions</h3>

    <p class="paragraph">
        Cloudjet Solutions is founded upon the belief of accurate performance evaluation and improvement of quality of
        human resource are among essential factors accelerate growth of local and global businesses. Our process of
        integrating world advanced technology and insight from leading strategic management specialists has brought to
        the market 2 performance optimization technlogy solutions: Cloudjet KPI & Cloudjet SaleUp
    </p>

    <p class="paragraph">
        Through our strategic solution Cloudjet KPI, we aspire to “bring superior competitive advantage to company’s
        system
        of human resource” by placing employees in the central of every strategy, providing them with a comprehensive
        solution, friendly and effective in order to enable continuous improvement. Our passion drives us to develop a
        solution to enable recognition and fair reward for all right effort and contribute to a culture of integrity
        where
        every employee feels motivated to contribute and strive harder each day
    </p>

    <p class="paragraph">
        The development of Cloudjet SaleUp has marked an advancement in sales and customer service process. It is
        believed that our simple but effective features valuable for Customer relationship management process will
        leverage the pressure of sales targets and strategy for business. Cloudjet SaleUp will support businesses
        effectively from sales process management, project progress monitoring as well as analytics and report of sales
        data, all are essentials to an effective sales machine.

    </p>

    <p class="paragraph">
        Last but not least, Cloudjet Solutions is proud of their team of young professionals who are creative,
        entrepreneurial and dedicated in continuous improvement to bring out the best intellectual products for
        business.


    </p>

    <h3 class="about-us-title" style="margin-top: 40px;">Cloudjet Core Values</h3>
    <ul class="about-us">
        <li style="margin: 0 0 40px 20px;"><img alt="Triết lý Kaizen"
                                                src="http://static.cjs.vn/img/core-values/kaizen.png">

            <p style="text-align: center;">
                Kaizen<br>
                Continuously innovate to create and develop for success


            </p></li>
        <li style="margin: 0 0 40px 20px;"><img alt="Five why" src="http://static.cjs.vn/img/core-values/five-why.png">

            <p style="text-align: center;">
                Five Why<br>
                Always aim for radical understanding of problems and solutions


            </p></li>
        <li style="margin: 0 0 40px 20px;"><img alt="Customer happiness"
                                                src="http://static.cjs.vn/img/core-values/customer-happiness.png">

            <p style="text-align: center;">
                Customer Success<br>
                Always aim for radical understanding of problems and solutions

            </p></li>
    </ul>
    <div><h3 class="about-us-title">Mentioned at</h3>

        <div style="margin-top: 35px">


            <style>
                .news-list img {
                    height: 28px;
                }

            </style>
            <p style="text-align: center"><img src="http://static.cjs.vn/landing/news-mentions.png"
                                               style="width: 992px; height: 55px;"></p></div>
    </div>
</div>