<!-- Start thank you section -->
    <section class="section clearfix">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <center><h3 style="margin-top: 100px">Thank you for your interest in <strong>Cloudjet Solutions</strong>.<br>If you need urgent support, please contact us at <strong>(028) 665 99 998</strong>.</h3></center>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
<!-- End thank you section -->