<div id="home-page" class="home-page-section margin-top-64">
    <div class="container-fluid view-md">
        <div id="carousel-example-generic" class="carousel slide col-md-12 " data-ride="carousel">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="row">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active " style="height: 800px ">
                                <img src="/vn/assests/img/home-page/Corporate_Image.png" alt="Corporate_Imag">
                                <div class="carousel-caption" style="position: absolute; top:100px; left: 0px ">
                                    <div style="text-align: left" class="col-md-7">
                                        <div class="logo-slide thumbnail">
                                            <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/CloudjetKPILogo_icon.svg" alt="Corporate" />
                                        </div>
                                        <p class="title-icon">CLOUDJET CORP</p>
                                        <div class="content__slide_1">
                                            <p class="content__title">
                                                Chuẩn hóa quy trình <br/> thiết lập & đánh giá KPI <br/> cho doanh nghiệp
                                            </p>
                                            <div class="content__text">
                                                <div class="content__text-row">
                                                    <span><img  style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>KPI cấp công ty, phòng ban và nhân viên</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Tiết kiệm thời gian 80% thời gian tổ chức đánh giá nhờ ứng dụng phần mềm</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Dịch vụ đồng hành 12 tháng cùng doanh nghiệp</p>
                                                </div>
                                            </div>
                                            <div class="content__btn">
                                                <a href="/vn/cloudjetkpi-corporate/corporate.html" target="_blank">
                                                    <button class="content__button-gradient">Tìm hiểu thêm</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item " style="height: 800px ">
                                <img src="/vn/assests/img/home-page/SME_Image.png" alt="SME_Image">
                                <div class="carousel-caption" style="position: absolute; top:100px; left: 0px">
                                    <div style="text-align: left" class="col-md-7 ">
                                        <div class="logo-slide thumbnail">
                                            <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/CloudjetKPILogo_icon.svg" alt="SME_Image" />
                                        </div>
                                        <p class="title-icon">CLOUDJET SME</p>
                                        <div class="content__slide_2">
                                            <p class="content__title">
                                                Xây dựng KPI <br/> cho doanh nghiệp nhỏ <br/> dựa trên thư viện KPI
                                            </p>
                                            <div class="content__text">
                                                <div class="content__text-row">
                                                    <span><img  style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Thiết lập và đánh giá KPI nhanh chóng </p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Tính năng giao và quản lý công việc hàng ngày</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Chính sách khách hàng hài lòng 100%</p>
                                                </div>
                                            </div>
                                            <div class="content__btn">
                                                <a href="https://www.sme.cloudjetkpi.com/" target="_blank">
                                                    <button class="content__button-gradient">Đăng ký sử dụng</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" style="height: 800px ">
                                <img src="/vn/assests/img/home-page/Academy_Image.png" alt="Academy_Image">
                                <div class="carousel-caption" style="position: absolute; top:100px; left: 0px">
                                    <div style="text-align: left" class="col-md-7 ">
                                        <div class="logo-slide thumbnail">
                                            <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/AcademyKPILogo_icon.svg" alt="Corporate" />
                                        </div>
                                        <p class="title-icon">CLOUDJET ACADEMY</p>
                                        <div class="content__slide_3">
                                            <p class="content__title">
                                                chuẩn bị hành trang <br/> cho doanh nghiệp <br/> triển khai BSC-KPI
                                            </p>
                                            <div class="content__text">
                                                <div class="content__text-row">
                                                    <span><img  style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>8 giờ thực hành ứng dụng</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Kinh nghiệm triển khai dự án thực tế</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Demo phần mềm và ứng dụng KPI trong thực tiễn</p>
                                                </div>
                                            </div>
                                            <div class="content__btn">
                                                <a href="https://www.academy.cloudjetkpi.com/" target="_blank">
                                                    <button class="content__button-gradient">Xem khóa học</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="container-fluid view-xs">
        <div id="mobile-slide-homepage" class="carousel slide col-xs-12" data-ride="carousel">
            <div class="row">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#mobile-slide-homepage" data-slide-to="0" class="active"></li>
                    <li data-target="#mobile-slide-homepage" data-slide-to="1"></li>
                    <li data-target="#mobile-slide-homepage" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="col-xs-12">
                    <div class="row">
                        <div class="carousel-inner " role="listbox">
                            <div class="item active item-slide-mobile" style=" margin-top: 64px">
<!--                                    <div style="height: 460px ">-->
                                        <img src="/vn/assests/img/home-page/mobile_slider_1.png" alt="CloudjetKPI">
<!--                                    </div>-->
                                    <div class="logo-mobile">
                                        <div class="logo-slide thumbnail col-xs-6 col-sm-6 " >
                                            <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/CloudjetKPILogo_icon.svg" alt="Corporate" />
                                            <p class="title-icon">CLOUDJET CORPORATE</p>
                                        </div>
                                    </div>
                                <div class="carousel-caption col-xs-12 col-sm-12 ">
                                    <div style="text-align: center" class="">

                                    <div class="content__slide_1">
                                        <p class="content__title">
                                            Chuẩn hóa quy trình <br/> thiết lập & đánh giá KPI <br/> cho doanh nghiệp
                                        </p>
                                        <div class="content__text " style="text-align: left">
                                            <div class="content__text-row">
                                                <span><img  style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>KPI cấp công ty, phòng ban và nhân viên</p>
                                            </div>
                                            <div class="content__text-row">
                                                <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>Tiết kiệm thời gian 80% thời gian tổ chức đánh giá nhờ ứng dụng phần mềm</p>
                                            </div>
                                            <div class="content__text-row">
                                                <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>Dịch vụ đồng hành 12 tháng cùng doanh nghiệp</p>
                                            </div>
                                        </div>
                                        <div class="content__btn">
                                            <a href="/vn/cloudjetkpi-corporate/corporate.html" target="_blank">
                                                <button class="content__button-gradient">Tìm hiểu thêm</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="item item-slide-mobile" style="margin-top: 64px">
<!--                                <div style="height: 460px">-->
                                    <img src="/vn/assests/img/home-page/mobile_slider_2.png" alt="SME_Image">
<!--                                </div>-->
                                <div class="logo-mobile">
                                    <div class="logo-slide thumbnail col-xs-6 col-sm-6 " >
                                        <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/CloudjetKPILogo_icon.svg" alt="Corporate" />
                                        <p class="title-icon">CLOUDJET SME </p>
                                    </div>
                                </div>
                                <div class="carousel-caption" >
                                <div style="text-align: center" class="col-xs-12 col-sm-12">
                                    <div class="content__slide_2">
                                        <p class="content__title">
                                            Xây dựng KPI <br/> cho doanh nghiệp nhỏ <br/> dựa trên thư viện KPI
                                        </p>
                                        <div class="content__text" style="text-align: left">
                                            <div class="content__text-row">
                                                <span><img  style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>Thiết lập và đánh giá KPI nhanh chóng </p>
                                            </div>
                                            <div class="content__text-row">
                                                <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>Tính năng giao và quản lý công việc hàng ngày</p>
                                            </div>
                                            <div class="content__text-row">
                                                <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                <p>Chính sách khách hàng hài lòng 100%</p>
                                            </div>
                                        </div>
                                        <div class="content__btn">
                                            <a href="https://www.sme.cloudjetkpi.com/" target="_blank">
                                                <button class="content__button-gradient">Đăng ký sử dụng</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="item item-slide-mobile" style="margin-top: 64px">
<!--                                <div style="height: 460px;">-->
                                    <img src="/vn/assests/img/home-page/mobile_slider_3.png" alt="AcademyKPI">
<!--                                </div>-->
                                <div class="logo-mobile">
                                    <div class="logo-slide thumbnail col-xs-6 col-sm-6 " >
                                        <img  style="margin-left: 0px; width: 76px; height:76px" src="/vn/assests/img/home-page/AcademyKPILogo_icon.svg" alt="Corporate" />
                                        <p class="title-icon">CLOUDJET ACADEMY</p>
                                    </div>
                                </div>
                                <div class="carousel-caption">
                                    <div style="text-align: center" class="col-xs-12 col-sm-12 ">
                                        <div class="content__slide_3">
                                            <p class="content__title">
                                                chuẩn bị hành trang <br/> cho doanh nghiệp <br/> triển khai BSC-KPI
                                            </p>
                                            <div class="content__text" style="text-align: left">
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>8 giờ thực hành ứng dụng</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Kinh nghiệm triển khai dự án thực tế</p>
                                                </div>
                                                <div class="content__text-row">
                                                    <span><img style="height: 10px; width: 14px; opacity: 0.2;" src="/vn/assests/img/home-page/icon_check.svg"></span>
                                                    <p>Demo phần mềm và ứng dụng KPI trong thực tiễn</p>
                                                </div>
                                            </div>
                                            <div class="content__btn">
                                                <a href="https://www.academy.cloudjetkpi.com/" target="_blank">
                                                    <button class="content__button-gradient">Xem khóa học</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    <!-- Controls -->
            <a class="left carousel-control" href="#mobile-slide-homepage" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#mobile-slide-homepage" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="container-fluid ">
        <div id="optimize">
            <section>
                <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12 container-block__optimize">
                    <div class="optimize__title">
                        <div class="row">
                            <div class="dash-with-background"></div>
                            <p class="content__title">TỐI ƯU HÓA LỢI ÍCH CHO DOANH NGHIỆP</p>
                        </div>
                     </div>
                    <div class="row text-center optimize__thumbs view-md">
                        <div class="opt-item col-md-4 col-sm-12 col-xs-12">
                            <div class="opt-app">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_1.png"/>
                                </div>
                                <div class="opt-app__title">
                                    <p class="content__title">
                                        Ứng dụng phương pháp quản trị hiện đại
                                    </p>
                                </div>

                                <div class="opt-app__desc">
                                    Ứng dụng phương pháp quản trị nhân sự theo hiệu suất của những doanh nghiệp hàng đầu
                                </div>
                            </div>
                        </div>
                        <div class="opt-item col-md-4 col-sm-12 col-xs-12">
                            <div class="opt-app opt-kpi">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_2.png"/>
                                </div>
                                <div class="opt-app__title">
                                    <p class="content__title">
                                        Đo lường và đánh giá kết quả dễ dàng
                                    </p>
                                </div>
                                <div class="opt-app__desc">
                                    Xây dựng chính sách lương thưởng công bằng dựa trên đánh giá hiệu suất làm việc không cảm tính
                                </div>
                            </div>
                        </div>

                        <div class="opt-item col-md-4 col-sm-12 col-xs-12">
                            <div class="opt-app opt-manage">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_3.png"/>
                                </div>
                                <div class="opt-app__title">
                                    <p class="content__title">
                                       nâng cao năng suất lao động
                                    </p>
                                </div>

                                <div class="opt-app__desc">
                                    Cơ sở để giữ chân nhân tài, đào tạo nhân viên yếu kém và không ngừng nâng cao năng suất lao động
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center optimize__thumbs view-xs">
                        <div class="opt-item col-sm-12 col-xs-12 ">
                            <div class="opt-app col-sm-12 col-xs-12">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_1.png"/>
                                </div>
                                <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
                                    <div class="opt-app__title">
                                        <p class="content__title">
                                            Ứng dụng phương pháp quản trị hiện đại
                                        </p>
                                    </div>

                                    <div class="opt-app__desc">
                                        Ứng dụng phương pháp quản trị nhân sự theo hiệu suất của những doanh nghiệp hàng đầu
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="opt-item col-sm-12 col-xs-12">
                            <div class="opt-app opt-kpi">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_2.png"/>
                                </div>
                                <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
                                    <div class="opt-app__title">
                                        <p class="content__title">
                                            Đo lường và đánh giá kết quả dễ dàng
                                        </p>
                                    </div>
                                    <div class="opt-app__desc">
                                        Xây dựng chính sách lương thưởng công bằng dựa trên đánh giá hiệu suất làm việc không cảm tính
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="opt-item col-sm-12 col-xs-12">
                            <div class="opt-app opt-manage">
                                <div class="opt-app__image thumbnail">
                                    <img src="/vn/assests/img/home-page/optimize_3.png"/>
                                </div>
                                <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2">
                                    <div class="opt-app__title">
                                        <p class="content__title">
                                           nâng cao năng suất lao động
                                        </p>
                                    </div>

                                    <div class="opt-app__desc">
                                        Cơ sở để giữ chân nhân tài, đào tạo nhân viên yếu kém và không ngừng nâng cao năng suất lao động
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
        </div>
    </div>



    <div class="container-fluid ">
        <div id="building">
            <section>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12 build-strategy-map">
                        <div class="build__title">
                            <div>
                                <div class="dash-with-background"></div>
                                <p class="content__title">Xây dựng bản đồ chiến lược <br/> và tối ưu hiệu suất kpi dễ dàng</p>
                            </div>
                         </div>
                        <div class="build__content thumbnail">
                            <img alt="building" src="/vn/assests/img/home-page/build_image.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



    <div class="container-fluid container-team-section">
        <div id="team">
            <section>
                <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12 team-section">
                    <div class="team-section__title">
                        <div class="row">
                            <div class="dash-with-background"></div>
                            <p class="content__title">NHỮNG GIÁ TRỊ CỦA HỆ THỐNG</p>
                        </div>
                    </div>
                    <div class="team-section__content view-md">
                        <!--<img alt="building" src="/vn/assests/img/home-page/build_image.png">-->
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_1.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Phân bổ mục tiêu từ công ty đến nhân viên</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_2.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Xác định nhân viên xuất sắc và yếu kém dựa trên thước đo định lượng rõ ràng</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_3.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Tính năng quản lý quỹ khen thưởng theo KPI</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_4.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Phân công và quản lý công việc hàng ngày dễ dàng tiện lợi.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_5.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Đa dạng các mẫu báo cáo trực tuyến.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_6.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Ứng dụng mobile tiện dụng mọi nơi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-section__content view-xs">
                        <!--<img alt="building" src="/vn/assests/img/home-page/build_image.png">-->
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_1.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Xây dựng bản đồ KPI & và quản trị chiến lược & nhân sự theo mô hình BSC.</p>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_2.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Sử dụng hệ thống cập nhật liên tục và nhanh chóng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_3.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Sử dụng hệ thống cập nhật liên tục và nhanh chóng.</p>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_4.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Đánh giá hiệu quả làm việc của công ty, phòng ban và năng lực nhân viên với những mục tiêu và KPI rõ ràng.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_5.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Đánh giá hiệu quả làm việc của công ty, phòng ban và năng lực nhân viên với những mục tiêu và KPI rõ ràng.</p>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-xs-6">
                                <div class="content__box-shadow">
                                    <div class="">
                                        <img src="/vn/assests/img/home-page/team_icon_6.svg" alt="Smiley face"/>
                                    </div>
                                    <p class="content__text">Theo sát và hỗ trợ doanh nghiệp xuyên suốt thời gian triển khai và sau dự án.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="container-fluid container-product">
        <div id="product">
            <section>
                <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12 product-section">
                    <div class="product-section__title">
                         <div class="row">
                            <div class="dash-with-background"></div>
                            <p class="content__title">SẢN PHẨM CLOUDJET KPI</p>
                        </div>
                    </div>
                    <div class="product-section__content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 view-xs">
                                <div class="thumbnail">
                                    <img src="/vn/assests/img/home-page/product_image_1.png" alt="Smiley face"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="content__desc">
                                   <p>
                                       Công cụ quản trị, theo dõi, đánh giá KPI đơn giản, tiết kiệm thời gian, dễ sử dụng và trực quan nhất!
                                   </p>
                                    <p>
                                        Chỉ vài thao tác, bạn có thể theo dõi một cách trực quan và rất chi tiết về hiệu suất làm việc của từng bộ phận, nhân viên hay từng nhóm mục tiêu & KPI chiến lược.
                                    </p>
                                </div>
                                <div class="content__btn view-md">
                                    <a href="#contact">
                                        <button class="content__button-gradient">Dùng thử ngay</button>
                                    </a>
                                </div>
                            </div>
                            <div class="content__btn view-xs">
                                    <a href="#contact">
                                        <button class="content__button-gradient">Dùng thử ngay</button>
                                    </a>
                                </div>
                            <div class="col-md-5 col-sm-12 col-xs-12 view-md">
                                <div class="thumbnail">
                                    <img src="/vn/assests/img/home-page/product_image_1.png" alt="Smiley face"/>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="container-fluid container-customer">
        <div id="customer">
            <section class="section clearfix">
                <div>
                    <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12 customer-section">
                        <div class="customer-section__title">
                             <div class="row">
                                <div class="dash-with-background"></div>
                                <p class="content__title">KHÁCH HÀNG TOÀN CẦU </p>
                             </div>
                        </div>
                        <div class="customer-section__content">
                            <div class="customer-img">
                                <img src="/vn/assests/img/home-page/customer.png" alt="Khách hàng của chúng tôi">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="large-12 columns col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-carousel owl-theme owl-loaded">
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="evnhcm" src="/vn/assests/img/home-page/evnhcm.svg">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="dxg" src="/vn/assests/img/home-page/dxg.svg">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="mobifone" src="/vn/assests/img/home-page/mobifone.svg">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="bitis" src="/vn/assests/img/home-page/bitis.svg">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="dathoa" src="/vn/assests/img/home-page/dathoa.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="cjs-customer-logo-ctr">
                                    <img alt="handspan" src="/vn/assests/img/home-page/handspan.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="container-fluid container-contact ">
        <div id="contact" class="contact-section">
            <section class="section clearfix">
                 <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12 customer-section">
                    <div class="customer-section__title">
                         <div class="row">
                            <div class="dash-with-background"></div>
                            <p class="content__title">Mong muốn triển khai KPI <br/> cho doanh nghiệp mình? <br/> Đăng ký tại đây.</p>
                         </div>
                    </div>
                    <div class="customer-section__content">
                        <div class="row">
                            <div class="content__signup-saleup">

                                <iframe frameborder="0" class="input-box" height="500" src="//www.saleupcrm.com/subscribe/5b5e22366994bdf5c8be91598d1d0572/" id="cjsform"></iframe>
                            </div>
                            <div class="clearfix col-md-12 col-xs-12 content__contact-us">
                                <div class="content__contact-us">
                                    <p>HOẶC GỌI NGAY HOTLINE</p>
                                    <div class="contact-us__host-line">
                                        <p>(028) 668 08 662</p>
                                        <p>(028) 665 99 998</p>
                                    </div>
                                    <p>ĐỂ CLOUDJET CÓ THỂ TƯ VẤN CHO BẠN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var cjssrcw = $(window).width();
        if (cjssrcw > 768) {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 6,
                loop: true,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
            });
        }
        else {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 2,
                loop: true,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
            });
        }
    });
    $(document).ready(function(){
        $('#home-active').addClass('active');
    })

    $(document).ready(function () {
        $('#flexCarousel').flexslider({
            animation: "slide",
            slideshow: true,
            smoothHeight: true,
            controlNav: true,
            animationLoop: true,
            slideshowSpeed: 4000,
            animationSpeed: 600
        });
    })

</script>