<!-- Start thank you section -->
    <section class="section clearfix">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <center><h3 style="margin-top: 100px">Cám ơn bạn đã đăng ký tư vấn tại <strong>Cloudjet Solutions</strong>.<br>Nếu bạn cần hỗ trợ nhanh, vui lòng liên hệ với chúng tôi qua số điện thoại <strong>(028) 665 99 998</strong>.</h3></center>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
<!-- End thank you section -->