<div class="container" id="qa-cjs" style="margin-bottom: 213px">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="dash-with-background"></div>
            <h2 class="qa__content_title">HỎI ĐÁP</h2>
        </div>
    </div>
    <!--Block 1-->
    <div class="row" >
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block first-child" data-toggle="collapse" data-target="#answer-1">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Mình thấy một số công ty áp dụng đo lường hiệu quả công việc theo chỉ số OKR,
                        một số khác lại sử dụng hệ thống KPI.
                        Nhờ các anh chị có kinh nghiệm chỉ ra sự khác nhau giữa hai phương pháp này giúp mình.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-1">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3 ">
                <img src="../../vn/assests/img/ava_Nhi.png">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>TRẦN ĐỖ YẾN NHI</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">Ban Tư Vấn sẽ giúp bạn làm rõ một số điểm khác biệt chính giữa OKR (Objective Key Results) và KPI (Key Performance Indicators) để từ đó,
                    bạn có thể chọn được phương pháp phù hợp.</h4>
                <h4 class="break-line">Với OKR:</h4>
                    <ul>
                        <li><h4>OKR là chỉ số kết quả đã được ứng dụng mạnh mẽ tại Google và mới được biết đến rộng rãi trong khoảng thời gian gần đây. Đa số nhân viên đón nhận chỉ số OKR với tâm lý thoải mái. Trong khi đó nhiều nhân viên lại thấy khó tiếp nhận KPI nếu trước đó chưa được quản lý hoặc các chuyên gia tư vấn tường tận. Bởi trước đây đã có không ít doanh nghiệp sử dụng KPI để thưởng phạt nên đã lại nhiều ấn tượng chưa tốt về KPI.</h4></li>
                        <li><h4>OKR có tần suất đánh giá theo quý. Do dó, OKR sẽ phù hợp với những công ty có tập thể nhân viên là những người có tính chủ động cao, làm việc luôn hướng đến kết quả.</h4></li>
                        <li><h4>Nhiều doanh nghiệp sử dụng OKR để theo dõi hiệu suất của nhân viên, và xem đó là một tiêu chí để xét thăng tiến.</h4></li>
                    </ul>
                <h4 class="break-line">Đối với hệ thống KPI đã được chuẩn hóa:</h4>
                    <ul>
                        <li><h4>Ngoài đo lường kết quả, KPI được dùng để đo lường tiến độ, năng suất, chất lượng của một quy trình.</h4></li>
                        <li><h4>KPI có tần suất đánh giá là tháng/ quý/ năm và tần suất theo dõi các chỉ số quan trọng theo ngày/tuần/ tháng, tùy theo đặc điểm và mục tiêu của doanh nghiệp. Điều này cho phép doanh nghiệp có thể quản lý chất lượng công việc cũng như sự tiến bộ của nhân viên chặt chẽ và kịp thời hơn.</h4></li>
                        <li><h4>KPI mang tính định hướng, đào tạo vì dựa vào các chỉ số KPI, người quản lý sẽ biết được nhân viên cần cải thiện ở điểm nào, ở quy trình nào, từ đó có biện pháp cụ thể để hướng dẫn, giúp đỡ nhân viên có được kết quả công việc tốt hơn.</h4></li>
                        <li><h4>Dự án KPI đòi hỏi ở người quản lý nhiều hơn ở tính dẫn dắt và yếu tố truyền thông nội bộ trong doanh nghiệp để có thể xóa bỏ những ngộ nhận và có sự nhìn nhận đúng đắn về KPI</h4></li>
                    </ul>
                <h4>Mỗi phương pháp đều có ưu nhược điểm riêng. Do đó, Thảo nên tùy theo mục tiêu của doanh nghiệp và văn hóa của công ty mà chọn OKR hay KPI.</h4>
            </div>
        </div>
    </div>
    <!--End block 1-->
    <!--Block 2-->
    <div class="row" >
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block"  data-toggle="collapse" data-target="#answer-2">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Nhờ anh chị tư vấn hộ em vấn đề này ạ.
                        Doanh nghiệp của em hoạt động ở lĩnh vực sản xuất may mặc và vì muốn hệ thống hóa việc quản trị nhân sự nên đang tìm hiểu về KPI để áp dụng.
                        Thông qua việc tự tìm hiểu em biết được việc triển khai KPI có rất nhiều nguyên nhân khiến dự án phải lùi vô thời hạn.
                        Với kinh nghiệm đã triển khai KPI thực tế nhiều năm,
                        mong các anh chị tư vấn giúp các nguyên nhân dẫn phổ biến hay dẫn đến thất bại của một dự án KPI để doanh nghiệp em có sự chuẩn bị trước ạ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-2">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3 ">
                <img src="../../vn/assests/img/ava_Truc.svg">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>PHẠM THANH TRÚC</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line mg-tp-6"><u><b>Trả lời:</b> </u></h4>
                <h4 class="break-line">Chào bạn,</h4>
                <h4 class="break-line">Có rất nhiều nguyên nhân khiến một dự án KPI "gãy gánh" giữa đường, ở đây Ban Tư Vấn sẽ giới thiệu với bạn những nguyên nhân phổ biến nhất.
</h4>
                <h4><b>1. Hiểu sai khái niệm KPI</b></h4>
                <h4>KPI là một công cụ quản trị chiến lược từ việc xác lập mục tiêu
                    – theo dõi quá trình thực hiện
                    – cảnh báo hiệu suất để cải tiến
                    – điều chỉnh mục tiêu kịp thời.</h4>
                <h4 class="break-line">Một số quản lý lại hiểu rằng KPI chỉ là công cụ đánh giá đơn thuần, với mục đích là xác lập và đo lường kết quả thực hiện của nhân viên vào cuối kỳ đánh giá hoặc sử dụng KPI như 1 công cụ để phán xét con người, thay vì dùng để cải thiện quy trình, sử dụng KPI để trừ lương hoặc quyết định thôi việc nhân viên</h4>
                <h4 class="break-line"><b>2. Xây dựng KPI nhân viên theo mô tả công việc</b></h4>
                <h4 class="break-line">Việc xây dựng KPI theo mô tả công việc sẽ dẫn hệ quả:</h4>
                    <ul>
                        <li><h4>Mỗi nhân viên sẽ có rất nhiều KPI</h4></li>
                        <li><h4>Nhân viên không thấy được sự đóng góp của bản thân</h4></li>
                        <li><h4 class="break-line">Vì không nhớ được KPI của mình, nhân viên sẽ không có được sự tập trung cần thiết. Việc đánh giá KPI rất có thể sẽ chỉ mang tính chất hình thức.</h4></li>
                    </ul>
                <h4 class="break-line"><b>3. Thông điệp về việc áp dụng KPI chưa được truyền đạt một cách đầy đủ, chính xác</b></h4>
                <h4 class="break-line">Nhân viên chưa có nhận thức đúng về KPI nên dễ dàng cho rằng KPI là một công cụ của cấp quản lý giám sát mình thay vì công cụ giúp mình để theo dõi kết quả của bản thân để cải tiến.</h4>
                <h4 class="break-line">Nguyên nhân của vấn đề này là:</h4>
                    <ul>
                        <li><h4>Thiếu sự quyết tâm của lãnh đạo. Nhiều nhà lãnh đạo chưa hiểu đúng tầm quan trọng của việc triển khai KPI, đã xem đây là 1 dự án cần hoàn thành của phòng HR thay vì là 1 kế hoạch quan trọng của toàn công ty.</h4></li>
                        <li><h4>Do sự truyền đạt của người triển khai chưa có chất “lửa”</h4></li>
                        <li><h4>Chưa có sự truyền thông chính xác về KPI</h4></li>
                        <li><h4 class="break-line">Năng lực của đội ngũ quản lý yếu trong việc đo lường và khích lệ tinh thần nhân viên cùng thực hiện.</h4></li>
                    </ul>
                <h4 class="break-line">Đây là yếu tố tối quan trọng của thành công của dự án KPI.
                    Người lãnh đạo cần có những quan điểm quản trị rất rõ và thấu hiểu
                    tổ chức để truyền đạt một cách đầy đủ, sâu rộng đến toàn thể nhân viên.</h4>
                <h4 class="break-line"><b>4. Năng lực của nhóm triển khai</b></h4>
                    <ul>
                        <li><h4>Các tổ chức thường thiết lập một nhóm nhân viên xuất sắc để thực hiện việc triển khai dự án KPI. Tuy nhiên, sau khi hoàn thành xây dựng KPI, nhóm dự án lại không tiếp tục theo dõi, tổng hợp một cách thường xuyên dẫn đến nguy cơ thất bại cao.</h4></li>
                        <li><h4>Sử dụng bộ KPI mẫu của các công ty cùng ngành. Do ở mỗi giai đoạn, mỗi công ty sẽ có những mục tiêu khác nhau và nguồn truy xuất dữ liệu của mỗi doanh nghiệp cũng khác nhau, các doanh nghiệp chỉ nên sử dụng các bộ KPI mẫu như một nguồn tư liệu tham khảo </h4></li>
                        <li><h4 class="break-line">Việc xác lập những mục tiêu không đúng trọng tâm, xa vời thực tế sẽ dẫn đến sai lệch trong việc định hướng phát triển của tổ chức, doanh nghiệp.</h4></li>
                    </ul>
                <h4 class="break-line"><b>5. Xác lập hệ thống tiêu chí không phù hợp</b></h4>
                <h4 class="break-line">Đây là vấn đề mà hầu hết các doanh nghiệp đều gặp phải trong quá trình triển khai. Sự chủ quan và thiếu chuẩn bị về nguồn lực gồm nhân sự và công nghệ sẽ ảnh hưởng trực tiếp đến chất lượng và sự thành công kết của dự án.</h4>
                 <h4 >Chúc cho dự án KPI của công ty bạn sẽ thuận lợi thành công.</h4>
            </div>
        </div>
    </div>
    <!--End block 2-->
    <!--Block 3-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block"  data-toggle="collapse" data-target="#answer-3">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Do công ty tôi đang muốn chuẩn hóa lại quy trình đánh giá nhân viên (trước khi mở rộng quy mô) nên đã tìm hiểu rồi áp dụng KPI để đánh giá nhân viên phòng sale (sau đó sẽ là các bộ phận khác). Nhưng dự án gặp rất nhiều rào cản. Khi đến kỳ đánh giá, nhiều nhân viên thường xuyên "quên" đánh giá và không khí của kỳ đánh giá thì rất ngột ngạt, căng thẳng. Dường ai như ai cũng sợ, cũng ngại khi nghe đến từ KPI. Chúng tôi cần làm gì để cải thiện điều này?"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-3">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Nhi.png">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>TRẦN ĐỖ YẾN NHI</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời:</b> </u></h4>
                <h4>Chào bạn,</h4>
                <h4 class="break-line">Những phản ứng tiêu cực nêu trên xuất phát từ việc nhân viên chưa có cái nhìn đúng về chỉ số KPI và dự án KPI của công ty. Để khắc phục điều này ban lãnh đạo cần:</h4>
                <h4 class="break-line">- Xây dựng và tuyên truyền để dự án KPI trở thành một nét văn hóa của công ty.</h4>
                <h4 class="break-line">- Giúp nhân viên hiểu rằng: Việc xác định rõ mục tiêu của dự án đánh giá KPI là để đo lường hiệu suất của nhân viên, bản chất là giúp nhân viên đi làm có động lực và định hướng hơn, chú tâm hơn.</h4>
                <h4 class="break-line">- Đừng để KPI biến thành hệ thống kiểm soát, mà cần triển khai hệ thống để tạo ra sự công bằng và thúc đẩy nhân viên chủ động, tích cực đánh giá kết quả làm việc để vượt chỉ tiêu KPI, và được khen thưởng một cách minh bạch.</h4>
            </div>
        </div>
    </div>
    <!--End block 3-->
    <!--Block 4-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-4">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Mình đang tìm hiểu về KPI để ứng dụng đánh giá khen thưởng cuối năm cho nhân viên nhưng vẫn thấy có chút mơ hồ. Nhờ các anh chị tư vấn, với kinh nghiệm đã triển khai KPI thực tế, giới thiệu rõ giúp mình KPI sẽ hỗ trợ cơ chế lương thưởng cuối năm của công ty như thế nào?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-4">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Truc.svg">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>PHẠM THANH TRÚC</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4>Chào bạn,</h4>
                <h4 class="break-line">Hệ thống KPI là hệ thống các chỉ số đo lường và đánh giá hiệu suất nhân viên thông qua các số liệu, tỷ lệ phần trăm, chỉ tiêu định lượng.</h4>
                <h4 class="break-line">Chỉ số KPI sẽ cho thấy doanh nghiệp đang hoạt động hiệu quả như thế nào, đo lường hiệu suất, tỉ lệ tăng trưởng của toàn thể doanh nghiệp, từng bộ phận, từng nhân viên, đặc biệt KPI còn định lượng được mức độ đóng góp của mỗi cá nhân, phòng ban đối với mục tiêu hoàn thành của công ty.</h4>
                <h4 class="break-line">Do đó, dựa vào kết quả đánh giá KPI, BGĐ có thể dễ dàng cân đối ngân sách lương thưởng. Việc khen thưởng sẽ hiệu quả hơn do doanh nghiệp đã có cơ sở để khen đúng người, thưởng đúng mức. Quan trọng không kém là việc khen thưởng cũng trở nên minh bạch vì đã có số liệu dẫn chứng rõ ràng, ngăn ngừa được những hiểu lầm, dị nghị không đáng có.</h4>
            </div>
        </div>
    </div>
    <!--End block 4-->
    <!--Block 5-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-5">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Xây dựng KPI như thế nào để đạt hiệu quả?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-5">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Nhi.png">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>TRẦN ĐỖ YẾN NHI</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">Để xây dựng KPI hiệu quả, cần đảm bảo các yêu cầu sau:</h4>
                <h4 >- Phải bắt đầu từ định hướng phát triển của doanh nghiệp.</h4>
                <h4 class="break-line" >Trước tiên, cấp quản lý cần đi từ tầm nhìn, sứ mệnh và định hướng phát triển trong thời gian tới để xây dựng mục tiêu chiến lược tổng thể của doanh nghiệp.</h4>
                <h4 class="break-line" >- Phân chia mục tiêu chiến lược thành KPI cụ thể. Rồi từ đó phân bổ những mục tiêu công ty thành mục tiêu cho từng phòng ban và từng cá nhân. Cần đảm bảo rằng có sự thống nhất và thông suốt về các mục tiêu đề ra giữa cấp quản lý và nhân viên.</h4>
                <h4 class="break-line">- Doanh nghiệp phải xây dựng được các tiêu chí đánh giá KPI phù hợp và chính xác với mục tiêu chiến lược của doanh nghiệp cũng như mục tiêu phát triển của mỗi phòng ban, nhân viên. Chia nhỏ KPI. KPI càng được chia nhỏ, cụ thể thì quản lý và nhân viên càng dễ theo dõi tiến độ công việc và đánh giá hiệu suất.</h4>
                <h4 >- Thực hiện truyền thông một cách đầy đủ, chính xác</h4>
                <h4>Việc truyền thông sẽ đảm bảo nhân viên hiểu một cách chính xác về mục tiêu và kế hoạch triển khai dự án. Thiếu sót, sai lệch thông tin sẽ ảnh hưởng đến tâm lý nhân viên và tác động trực tiếp đến sự thành công của dự án</h4>
            </div>
        </div>
    </div>
    <!--End block 5-->
    <!--Block 6-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-6">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p class="break-line">Chào anh chị, sếp em giao cho em xây dựng KPI các phòng kinh doanh, marketing, operation,... để đánh giá hiệu quả công việc nhân viên, rồi căn cứ vào đấy làm lương, thưởng cuối năm. Em chưa có kinh nghiệm trong lĩnh vực này. Trên mạng thì có quá nhiều thông tin, em không biết bắt đầu từ đâu. Mong anh chị tư vấn giúp em các bước xây dựng KPI, như thế nào mới hiệu quả?</p>
                    <p class="break-line">Công ty em thuộc lĩnh vực bán lẻ.</p>
                    <p>Em cảm ơn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-6">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Truc.svg">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>PHẠM THANH TRÚC</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">Chào bạn,</h4>
                <h4 class="break-line">Bạn có thể tận dụng nguồn tư liệu về BSC - KPI trên Internet để tham khảo. Tuy nhiên để xây dựng bộ KPI sát sao với tình hình thực tế tại doanh nghiệp bạn phải bắt đầu từ bản đồ chiến lược của công ty.</h4>
                <h4 class="break-line"><b>Một quy trình xây dựng KPI hoàn chỉnh bao gồm các bước sau:</b></h4>
                <h4 class="break-line">1. Xây dựng KPI cấp công ty từ những mục tiêu chiến lược của Ban Giám Đốc</h4>
                <h4 class="break-line">2. Phân chia KPI công ty xuống cấp phòng ban</h4>
                <h4 class="break-line">3. Phân bổ KPI phòng ban đến từng nhân viên.</h4>
                <h4 class="break-line">Việc phân chia từ trên xuống sẽ tạo được sự liên kết giữa mục tiêu cá nhân và mục tiêu công ty. Từ đó, Ban Giám Đốc sẽ dễ dàng quản lý tiến độ các mục tiêu và có những quyết định chính xác dựa trên kết quả KPI của doanh nghiệp.</h4>
                <h4 class="break-line">Để xác định KPI cho doanh nghiệp bạn, việc đầu tiên bạn cần xác định mục tiêu của doanh nghiệp bạn trong năm trước khi xây dựng KPI.
</h4>
                <h4 class="break-line"><b>Một số gợi ý cho mảng bán hàng:</b></h4>
                <ul>
                    <li><h4>Doanh nghiệp muốn tăng trưởng doanh thu đột phá hay ổn định mức doanh thu hiện tại?</h4></li>
                    <li><h4>Doanh nghiệp có dự định phát triển chuỗi cửa hàng không?</h4></li>
                    <li><h4>Bao nhiêu % khách hàng mới sẽ gia tăng trong năm?</h4></li>
                    <li><h4>KPI tham khảo:</h4></li>
                    <li><h4>Đạt được mức thấp nhất là __ (số lượng) đơn hàng trong kênh bán hàng</h4></li>
                    <li><h4>Gia tăng số lượng khách hàng mới __%</h4></li>
                    <li><h4>Tăng __% doanh thu bán hàng tổng thể</h4></li>
                    <li><h4>Đạt được __% tỉ lệ khách hàng tái sử dụng</h4></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End block 6-->
    <!--Block 7-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-7">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Tôi luôn cảm thấy bản thân các cấp quản lý vẫn luôn xem KPI để phán xét nhân viên. Điều này khiến chúng tôi luôn cảm thấy không công bằng bởi có những nỗ lực của chúng tôi không thể dùng những chỉ số KPI để đo. Phần lớn triển khai KPI có thành công hay không phụ thuộc nhiều cách triển khai của cấp quản lý. Bạn thấy điều đấy đúng không?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-7">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Nhi.png">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>TRẦN ĐỖ YẾN NHI</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">Nhận xét của bạn hoàn toàn hợp lý. Dự án KPI cần có sự tham gia của tất cả các cá nhân trong tổ chức, sự đồng thuận của toàn nhân viên. Tuy nhiên, định hướng của quản lý cấp cao và cách triển khai của các quản lý cấp trung cũng là yếu tố quan trọng tạo nên thành công cho dự án.</h4>
                <h4 class="break-line">Bản chất của KPI là để động viên và khen thưởng một cách chính xác cho những nỗ lực của nhân viên. Để đạt được điều này, nhân viên và quản lý cần có sự trao đổi một cách thẳng thắn và minh bạch về các mục tiêu KPI và xác định những con số đo lường cụ thể. Tránh trường hợp áp đặt từ cấp trên và tuân thủ một cách thụ động từ phía nhân viên.</h4>
                <h4 class="break-line">Với mỗi thời điểm cụ thể, những chỉ tiêu KPI sẽ có sự thay đổi. Nhân viên hoàn toàn có thể là người chủ động yêu cầu hiệu chỉnh nếu cần thiết.</h4>
                <h4>Hy vọng giải đáp của CJS có thể giúp bạn hiểu một cách chính xác về KPI.</h4>
            </div>
        </div>
    </div>
    <!--End block 7-->
    <!--Block 8-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-8">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Thế nào là 1 KPI đạt tiêu chuẩn?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-8">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Truc.svg">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>PHẠM THANH TRÚC</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">KPI phản ánh mục tiêu của một doanh nghiệp nên cần đạt được tiêu chuẩn SMART như sau:</h4>
                <h4 ><b>Specific: tính cụ thể và rõ ràng.</b></h4>
                <h4 class="break-line">Các chỉ số khi xây dựng cần phải giải thích được 3 khía cạnh: ý nghĩa, lý do lựa chọn và phương pháp đo lường. Chỉ số KPI càng rõ ràng, nhân viên sẽ dễ dàng biết mình phải làm gì và làm như thế nào để đạt được hiệu quả công việc như mong muốn.</h4>
                <h4><b>Measurable: khả năng đo lường</b></h4>
                <h4 class="break-line">Đối với các KPI không đo lường được kết quả thực hiện công việc, việc đánh giá sẽ trở nên cảm tính và không khách quan.</h4>
                <h4><b>Achievable: có thể đạt được.</b></h4>
                <h4 class="break-line">Có rất nhiều chỉ số KPI đo lường được nhưng lại không khả thi sẽ tạo nên tâm lý thất vọng, chán nản và không muốn làm việc khi các nhân viên cảm thấy khó đạt được mục tiêu dù đã cố gắng hết mình. </h4>
                <h4><b>Realistic: tính thực tế.</b></h4>
                <h4 class="break-line">Tính thực tế của KPI giúp doanh nghiệp có thể cùng lúc đạt tới các chỉ số đã đề ra và phục vụ cho việc liên kết KPI đến mục tiêu chiến lược doanh nghiệp</h4>
                <h4><b>Time-bound: có thời hạn chính xác.</b></h4>
                <h4 class="break-line">Việc đưa ra thời gian chính xác sẽ tạo ra động lực thúc đẩy các nhân viên hoàn thành công việc một cách tốt nhất trong thời gian hạn định, đồng thời giảm sức ì của toàn bộ hệ thống doanh nghiệp</h4>
            </div>
        </div>
    </div>
    <!--End block 8-->
    <!--Block 9-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-9">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Việc triển khai đánh giá nhân viên cần được tiến hành như thế nào và với thời lượng bao nhiêu là vừa đủ?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-9">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Nhi.png">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>TRẦN ĐỖ YẾN NHI</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4 class="break-line">Chào bạn,</h4>
                <h4 class="break-line">Như chúng ta đã biết, việc xây dựng và bắt tay thực hiện dự án KPI là một quá trình xuyên suốt, cần có sự hợp tác và đồng lòng từ cấp quản lý đến từng nhân viên.</h4>
                <h4 class="break-line">Tuỳ thuộc vào quy mô của doanh nghiệp và mức độ sẵn sàng của đội ngũ nhân sự mà thời gian triển khai việc đánh giá nhân viên sẽ kéo dài trong bao lâu.</h4>
                <h4 class="break-line">Tuy nhiên, hầu hết các công ty cần có thời gian ít nhất 6 tháng đến 1 năm để tiến hành thử nghiệm và hiệu chỉnh, đảm bảo các KPI phải phù hợp với mục tiêu chiến lược chung của doanh nghiệp cũng như công việc của các cá nhân đảm nhận KPI.</h4>
            </div>
        </div>
    </div>
    <!--End block 9-->
    <!--Block 10-->
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="qa__question_block" data-toggle="collapse" data-target="#answer-10">
                <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                    <img class="icon-plus" src="../../vn/assests/img/icon-plus.svg">
                    <img class="icon-minus" src="../../vn/assests/img/icon-minus.svg">
                </div>
                <div class="col-lg-11 col-xs-10 col-md-11 col-sm-11 qa__question_block__content">
                    <h2>CÂU HỎI:</h2>
                    <p>Làm thế nào để chọn được Trưởng Dự Án KPI phù hợp?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row qa__answer_title collapse" id="answer-10">
        <div class="col-md-offset-1 col-md-11 border-left-block-answer">
            <div class="col-lg-1 col-md-1 col-xs-3 col-sm-3">
                <img src="../../vn/assests/img/ava_Truc.svg">
            </div>
            <div class="col-lg-11 col-xs-9 col-md-11 col-sm-9 qa__answer_block__title">
                <h4>PHẠM THANH TRÚC</h4>
                <p>Giảng viên Cloudjet Academy</p>
            </div>
        </div>
        <div class="col-md-offset-1 col-sm-offset-0 col-xs-12 col-md-11 border-left-block-answer" style="padding-top:30px">
            <div class="col-md-12 qa__answer_block__content">
                <h4 class="break-line  mg-tp-6"><u><b>Trả lời: </b></u></h4>
                <h4>Thông thường các doanh nghiệp có 2 lựa chọn chính:</h4>
                <h4>- Sử dụng chính nhân lực quản lý bên trong công ty</h4>
                <h4 class="break-line">- Lựa chọn một đội ngũ/ đơn vị tư vấn chuyên nghiệp và có bề dày kinh nghiệm tư vấn cho các công ty cùng ngành</h4>
                <h4><b>Lựa chọn và các yêu cầu</b></h4>
                <h4>- Sử dụng chính nhân lực quản lý bên trong công ty:</h4>
                <h4>Cá nhân đảm trách việc thực hiện dự án lâu dài cần đáp ứng được yêu cầu: </h4>
                <h4>+ Cần có khả năng học hỏi nhanh cả những vấn đề phức tạp</h4>
                <h4>+ Am hiểu chuyên sâu về tổ chức và thường xuyên tiếp xúc với các bộ phận, nhân viên của công ty. </h4>
                <h4 class="break-line">+ Vị trí và tiếng nói của cá nhân trong công ty cũng là một yếu tố trọng yếu để đủ thuyết phục các nhân viên tham gia vào dự án.</h4>
                <h4>- Lựa chọn một đội ngũ/ đơn vị tư vấn chuyên nghiệp và có bề dày kinh nghiệm tư vấn cho các công ty cùng ngành</h4>
                <h4>Ngoài việc công ty quyết định lựa chọn một đơn vị có uy tín và nhiều kinh nghiệm để tư vấn, thì phương án này cần được đảm bảo một góc nhìn khách quan và mức độ am hiểu của đội ngũ tư vấn về ngành nghề doanh nghiệp bạn đang kinh doanh.</h4>
            </div>
        </div>
    </div>
    <!--End block 10-->
</div>
<script>
    $(document).ready(function(){
        $('#library-active').addClass('active');
    })
</script>