
<style type="text/css">
    .jx_ui_Widget{
        display: none !important;
    }
    .zopim{
        display: none !important;
    }
    .helpdesk{
        display: none !important;
    }
</style>

<div id="cjs-jops">
    <div class="container-fluid cjs-img-slider ttr-container">


        <div class="col-sm-4 img-col-left ttr-container">
            <div id="img-left-big" class="col-xs-12 cjs-jops-imgbox img-big-motion">
                <div id="cjs-img-01-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-01-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-01-03" class="cjs-jops-background-img"></div>
                <div id="cjs-img-01-04" class="cjs-jops-background-img"></div>
                <div id="cjs-img-01-05" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-left-small-1" class="col-xs-6 cjs-jops-img-smallbox hidden-xs small-motion-01">
                <div id="cjs-img-02-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-02-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-02-03" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-left-small-2" class="col-xs-6 cjs-jops-img-smallbox hidden-xs small-motion-02">
                <div id="cjs-img-03-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-03-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-03-03" class="cjs-jops-background-img"></div>
            </div>
        </div>


        <div class="col-sm-4 img-col-mid ttr-container">
            <div id="img-mid-small-1" class="col-xs-6 cjs-jops-img-smallbox hidden-xs small-motion-02">
                <div id="cjs-img-04-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-04-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-04-03" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-mid-small-2" class="col-xs-6 cjs-jops-img-smallbox hidden-xs small-motion-01">
                <div id="cjs-img-05-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-05-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-05-03" class="cjs-jops-background-img"></div>
            </div>
            <div class="clearfix"></div>
            <div id="img-mid-big" class="col-xs-12">
                <div class="cjs-calltoact">
                    <div class="jont-with-us" style="font-size: 28px;">JOIN WITH US!</div>
                    <div class="clearfix"></div>
                    <div style="font-family: 'LatoWeb'; font-size: 16px; margin-top: 20px; margin-bottom: 10px;">
                        <span style="font-family: 'LatoWebBlack'">TO HELP MILLION COMPANIES</span><br>
                        <span style="font-family: 'LatoWeb'"> IN VIET NAM AND ASIA</span>
                        <br class="visible-xs-block">
                        <span style="font-family: 'LatoWebBlack'">WORK MORE EFFECTIVELY.</span>
                    </div>
                    <div style="width: 100px; height: 2px; background-color: #fff; display: inline-block;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 img-col-right ttr-container hidden-xs">
            <div id="img-right-small-1" class="col-xs-12 cjs-jops-img-smallbox img-big-motion">
                <div id="cjs-img-06-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-06-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-06-03" class="cjs-jops-background-img"></div>
                <div id="cjs-img-06-04" class="cjs-jops-background-img"></div>
                <div id="cjs-img-06-05" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-right-small-2" class="col-xs-6 cjs-jops-img-xsbox small-motion-02">
                <div id="cjs-img-07-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-07-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-07-03" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-right-small-3" class="col-xs-6 cjs-jops-img-xsbox small-motion-03">
                <div id="cjs-img-08-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-08-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-08-03" class="cjs-jops-background-img"></div>
            </div>

            <div id="img-right-small-4" class="col-xs-6 cjs-jops-img-xsbox small-motion-03">
                <div id="cjs-img-09-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-09-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-09-03" class="cjs-jops-background-img"></div>
            </div>

            <div class="col-xs-6 cjs-jops-img-xsbox small-motion-01">
                <div id="cjs-img-10-01" class="cjs-jops-background-img"></div>
                <div id="cjs-img-10-02" class="cjs-jops-background-img"></div>
                <div id="cjs-img-10-03" class="cjs-jops-background-img"></div>
            </div>
        </div>
    </div>



    


    <!-- JOPS SUB BANNER -->
    <!--
    <div class="ttr-container cjs-python-herobanner hidden">
        <div class="herrobanner-background-color"></div>
        <div class="container">
            <div class="col-lg-12" style="text-align: center;">
                <div class="position-icon" style="margin-top: 125px;">
                    <img style="width: 100px;" src="/vn/assests/img/cjs-jops/digital-marketing-icon.svg">
                </div>
            </div>
        </div>
    </div>


    <nav class="cjs-jops-menu">
        <div class="container">
            <a class="cjs-jops-menu-style" href="index.html">TUYỂN DỤNG</a>
        </div>
    </nav>
    -->



    <!-- Tuyển dụng Titel -->
    <div class="clearfix"></div>

    <div class="container" style="padding: 0px;">
        <div class="col-lg-12 cjs-titel">
            WHO WE'RE LOOKING FOR
            <div class="clearfix"></div>
            <div class="cjs-titel-line"></div>
            <div class="clearfix"></div>
            <div class="sub-title">At Cloudjet, we hire for attitudes and train for skills. We focus on who you are - the real person behind the paper. Then if you love to do awesome thing that matters, and are ready to go extra mile for it, join with us <span style="font-family:'LatoWebBold'>NOW</span> !
            </div>
        </div>
    </div>



    <!-- mục tuyển dụng -->

    <!-- script cua recruiterbox --> 
    <div class="container">
            <iframe src="https://recruit.zohopublic.com/recruit/Portal.na?iframe=false&digest=6waSu4.rFtMN1xyewcF7yHGAUnkE7bVo.a85bxdBEmQ-" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>


        <!--script type="text/javascript" id="rbox-loader-script">
        if(!window._rbox){
        _rbox = { host_protocol:document.location.protocol, ready:function(cb){this.onready=cb;} };
        (function(d, e) {
            var s, t, i, src=['/static/client-src-served/widget/35389/rbox_api.js', '/static/client-src-served/widget/35389/rbox_impl.js'];
            t = d.getElementsByTagName(e); t=t[t.length - 1];
            for(i=0; i<src.length; i++) {
                s = d.createElement(e); s.src = _rbox.host_protocol + '//w.recruiterbox.com' + eval("src" + String.fromCharCode(91) + String(i) + String.fromCharCode(93));
                t.parentNode.insertBefore(s, t.nextSibling);
            }})(document, 'script');
        }
        --</script>
    </div>



    <!-- Multi task aria -->
    <!-- Tạm ẩn
    <div class="container" style="padding: 0px;">
        <div class="col-lg-12 cjs-titel">
            <div class="arena-icon"><img src="image/cjs-arena.svg"></div>
            <div class="clearfix"></div>
            CLOUDJET MULTI TASK ARENA
            <div class="clearfix"></div>
            <div class="cjs-titel-line"></div>
            <div class="clearfix"></div>
            <div class="sub-title">Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. 
                Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. 
                Donec mollis lorem vehicula.
            </div>
            <div class="clearfix"></div>
            <div class="call-to-act-button">I WANNA TRY IT!</div>
        </div>
    </div>

    -->


    <!-- why you shold join -->

    <div class="container" style="padding: 0px; margin-bottom: 50px;">
        <div class="col-lg-12 cjs-titel">
            <span style="text-transform: uppercase;">Do the most meaningful work of your career</span>
            <div class="clearfix"></div>
            <div class="cjs-titel-line"></div>
            <div class="clearfix"></div>
            <div class="sub-title">People are at the heart of every connection we build and every reason why we exist. We design products and deliver services that enable employees to work better. Therefore, at Cloudjet, we are proud of building a company where you decide your own way of working - TIME, PLACE & COLLEAGUE.
            </div>
        </div>
        <div id="do-the-most" class="col-lg-12">
            <img src="/vn/assests/img/cjs-jops/2016-EYP-BACKGROUND-02.jpg" height="auto" width="100%">
        </div>
        <div class="col-lg-12" style="padding: 0px; font-family: 'LatoWeb'; font-size: 14px;">
            <div class="col-sm-6">
                <div class="cjs-titel" style="text-align: left;">WORK HARD</div>
                <span style="letter-spacing: 2px; min-height: 80px;">Nothing worth having comes easy. And we are people that want to build a $100-million-valued company.  You know what, we are just like a whaling ship in the movie "In the heart of the sea" (By Ron Howard, 2015).
                </span>
            </div>
            <div class="col-sm-6">
                <div class="cjs-titel" style="text-align: left;">PLAY LIKE WEIRDOS</div>
                <div style="letter-spacing: 3px; min-height: 80px;">We play poker. We go canyoning. We drink Shochu. We love truth & dare. Do they sound great?
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding: 0px;">
            <div class="col-sm-6">
                <div class="cjs-img-6-box img-04"></div>
            </div>
            <div class="col-sm-6">
                <div class="cjs-img-6-box img-05"></div>
            </div>
        </div>
        <div class="col-sm-12" style="padding-bottom: 50px; border-bottom: 1px #ccc solid; margin-bottom: 50px;">
            <div class="cjs-titel" style="text-align: left;">BE YOURSELF</div>
            <span style="letter-spacing: 3px;">Be unique. Be authentic. However you prefer to say it, we really mean it. Our culture embraces people’s diverse perspectives and creates a positive environment where everyone belongs.
            </span>
        </div>


        <!-- Tam khoa
        <div class="col-sm-4">
            <div class="cjs-img-box img-06"></div>
            <div class="cjs-little-titel" style="text-align: left;">Facebook Careers Page</div>
            <span style="letter-spacing: 3px;">Be unique. Be authentic. However you prefer to say it, we really mean it. 
                Our culture embraces people’s diverse perspectives and creates a positive environment where everyone belongs.
            </span>
        </div>
        <div class="col-sm-4">
            <div class="cjs-img-box img-07"></div>
            <div class="cjs-little-titel" style="text-align: left;">Facebook’s Values</div>
            <span style="letter-spacing: 3px;">Be unique. Be authentic. However you prefer to say it, we really mean it. 
                Our culture embraces people’s diverse perspectives and creates a positive environment where everyone belongs.
            </span>
        </div>
        <div class="col-sm-4">
            <div class="cjs-img-box img-08"></div>
            <div class="cjs-little-titel" style="text-align: left;">In the News</div>
            <span style="letter-spacing: 3px;">Be unique. Be authentic. However you prefer to say it, we really mean it. 
                Our culture embraces people’s diverse perspectives and creates a positive environment where everyone belongs.
            </span>
        </div>
    </div>
    -->

    <div class="back-to-top">
        <div class="lnr lnr-chevron-up" style="font-size: 24px; color: #fff; padding-left: 13px; padding-top: 10px;"></div>
    </div>

</div>





<!-- Back to top -->

<script type="text/javascript">
    

    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {
            $('.back-to-top').fadeIn(200);
            } else {
                $('.back-to-top').fadeOut(200); 
            }
        });

    $('.back-to-top').click(function() {
        $('body,html').animate({
            scrollTop : 0
        }, 500);
    });

</script>


<!-- MARGIN CALLTOACT -->
<script type="text/javascript">
    $( window ).ready(function() {
        var a = $('#img-left-big').height();
        var b = $('.cjs-calltoact').height();
        if (a > b) {
            var c = a/2 - b/2;
            $('.cjs-calltoact').css("margin-top", c);
        }
        else {
            var c = b + 60;
            $('#img-mid-big').css("height", c);
            $('.cjs-calltoact').css("margin-top", "30px");
        }
    });

    $(window).resize(function(){
        var a = $('#img-left-big').height();
        var b = $('.cjs-calltoact').height();
        if (a > b) {
            var c = a/2 - b/2;
            $('.cjs-calltoact').css("margin-top", c);
        }
        else {
            var c = b + 60;
            $('#img-mid-big').css("height", c);
            $('.cjs-calltoact').css("margin-top", "30px");
        }
    });
</script>



<!-- script control display -->
<script type="text/javascript">
$( document ).ready(function() {
    $('.rbox-opening-li').click( function () { 
        $('.cjs-python-herobanner').removeClass("hidden");
    });

    $('.rbox-opening-li').click( function () { 
        $('.cjs-titel').hide(); 
        $('.rbox-top-links').hide();
    });
});
</script>


<script type="text/javascript">
    $('.cjs-jops-menu').addClass('original').clone().insertAfter('.cjs-jops-menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

    scrollIntervalID = setInterval(stickIt, 10);


    function stickIt() {

    }
</script>
