<div class="down-doc">
    <div class="down-doc-box">
        <h3 class="about-us-title green_text">Góc tài liệu Cloudjet</h3>
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#cloudjet-saleup" data-toggle="tab">Quản lý bán hàng - Cloudjet SaleUp</a></li>
            <li class="active"><a href="#cloudjet-kpi" data-toggle="tab">Đánh giá nhân sự - Cloudjet KPI</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="cloudjet-kpi">
                <div class="down-item">
                    <div class="col-md-6 down-item-img">
                        <img src="http://88.cjs.vn/c60a5420-5611-4b6c-be89-531ad50d13b6-7bfde4bf-9e0a-4a38-9ccc-9a7939f7def6.png">
                    </div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">
                            Những nhà lãnh đạo tài giỏi sẽ làm gì ?
                        </div>
                        <div class="down-content-item">Người lãnh đạo giỏi luôn quan tâm nhu cầu, mối quan tâm của nhân
                            viên của
                            mình
                        </div>
                        <div class="down-content-item">Nhà quản lý giỏi thường khám phá, phát triển và công nhận những
                            điểm mạnh
                            nổi bật của mỗi nhân viên
                        </div>
                        <a class="button button-buy number small-btn"
                           href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Download miễn
                            phí</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="down-item">
                    <div class="col-md-6 down-item-img">
                        <img src="http://88.cjs.vn/img-ebook-2.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">
                            Nhà lãnh đạo nắm bắt lợi thế thế nào trong thời kỳ suy thoái?
                        </div>
                        <div class="down-desc">
                            Những giải pháp nhà lãnh đạo có thể áp dụng để đối phó với những thách thức trong thời kỳ
                            khủng hoảng:
                        </div>
                        <div class="down-content-item">
                            Ổn định hoạt động kinh doanh, giảm thiểu rủi ro và tăng tính thanh khoản
                        </div>
                        <div class="down-content-item">
                            Tận dụng và khai thác sai lầm của những đối thủ thiếu hiểu biết
                        </div>
                        <a class="button button-buy number small-btn"
                           href="#modal" role="button" data-target="#myModal" data-toggle="modal" onclick="$('#id-ebook').val(2)">Download miễn
                            phí</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="down-item">
                    <div class="col-md-6 down-item-img">
                        <img src="http://88.cjs.vn/img-ebook-3.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">Đánh giá hiệu suất nhân viên. Làm thế nào để doanh nghiệp thực hiện hiệu
                            quả nhất?
                        </div>
                        <div class="down-desc">Tài liệu sẽ hướng dẫn doanh nghiệp về:
                        </div>
                        <div class="down-content-item">
                            Đánh giá và quản lý hiệu suất nhân viên
                        </div>
                        <div class="down-content-item">
                            Lợi ích của quản lý hiệu suất mang lại cho doanh nghiệp
                        </div>
                        <a class="button button-buy number small-btn" data-target="#myModal" href="#modal" role="button" data-toggle="modal"
                           onclick="$('#id-ebook').val(3)">Download miễn
                            phí</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="down-item">
                    <div class="col-md-6 down-item-img"><img src="http://88.cjs.vn/05.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">Phương pháp quản trị hiệu suất nhân sự dành cho doanh nghiệp vừa và nhỏ
                        </div>
                        <div class="down-content-item">
                            Bạn nhầm tưởng chỉ có những công ty lớn mới đầu tư vào quản trị hiệu suất nhân sự?
                        </div>
                        <div class="down-content-item">
                            Bạn nghĩ doanh nghiệp vừa và nhỏ thì không cần quản trị hiệu suất mà vẫn đạt được mục tiêu
                            đề
                            ra?
                        </div>
                        <div class="down-content-item">
                            Cuốn sách này sẽ giải đáp cho bạn cách để quản trị hiệu suất nhân sự hiệu quả
                        </div>
                        <a class="button button-buy number small-btn"
                           href="#modal" role="button" data-toggle="modal" data-target="#myModal" onclick="$('#id-ebook').val(4)">Download miễn
                            phí</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="down-item">
                    <div class="col-md-6 down-item-img"><img
                            style="max-width: 390px;max-height: 280px;margin-top: 30px;"
                            src="http://88.cjs.vn/balanced%20scorecard_01.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">Lợi ích của
                            việc
                            quản trị nhân sự theo mô hình thẻ điểm cân bằng Balanced Scorecard
                        </div>
                        <div class="down-desc">Cuốn sách này sẽ giải đáp cho bạn 2 vấn đề:
                        </div>
                        <div class="doc_item" style="background-position: 0px 5px;min-height: 25px;line-height: 25px;">
                            Mô
                            hình Balanced Scorecard là gì?
                        </div>
                        <div class="doc_item" style="background-position: 0px 5px;min-height: 25px;line-height: 25px;">
                            Lợi
                            ích mô hình Balanced Scorecard mang lại cho doanh nghiệp như thế nào?
                        </div>
                        <a class="button button-buy number small-btn"
                           data-target="#myModal"
                           href="#modal" role="button" data-toggle="modal" onclick="$('#id-ebook').val(5)">Download miễn
                            phí</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane" id="cloudjet-saleup">
                <div class="down-item">
                    <div class="col-md-6 down-item-img"><img
                            style="max-width: 390px;max-height: 280px;margin-top: 30px;"
                            src="http://88.cjs.vn/image%20ebook.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">Nâng cao hiệu
                            suất
                            bán hàng với các mẹo từ chuyên gia (Phần 1)
                        </div>
                        <div class="down-desc">Tài liệu sẽ chia sẻ với bạn 2 khía cạnh trong quá trình bán hàng:
                        </div>
                        <div class="down-content-item"
                             style="background-position: 0px 5px;min-height: 25px;line-height: 25px;">
                            Nghệ
                            thuật đàm phán với người có sức mạnh
                        </div>
                        <div class="down-content-item"
                             style="background-position: 0px 5px;min-height: 25px;line-height: 25px;">
                            Nghệ
                            thuật lắng nghe sâu sắc
                        </div>
                        <a class="button button-buy number small-btn"
                           href="#modal-saleup" role="button" data-toggle="modal" data-target="#myModal"
                           onclick="$('#id-saleup-ebook').val(6)">Download
                            miễn phí</a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="down-item">
                    <div class="col-md-6 down-item-img"><img
                            style="max-width: 390px;max-height: 280px;margin-top: 30px;"
                            src="http://88.cjs.vn/Imageebook2.png"></div>
                    <div class="col-md-6 down-item-content">
                        <div class="down-head">Nâng cao hiệu suất
                            bán hàng với các mẹo từ chuyên gia (Phần 2)
                        </div>
                        <div class="down-desc">Tài liệu sẽ chia sẻ với bạn 3 khía cạnh về:
                        </div>
                        <div class="down-content-item">
                            Cách
                            tận dụng các kênh phân phối bán hàng
                        </div>
                        <div class="down-content-item">
                            Cách
                            đối thoại với khách hàng
                        </div>
                        <div class="down-content-item">
                            Tăng
                            doanh số bằng việc thay đổi cách sử dụng năng lượng bán hàng
                        </div>
                        <a class="button button-buy number small-btn"
                           href="#modal-saleup" role="button" data-toggle="modal" data-target="#myModal"
                           onclick="$('#id-saleup-ebook').val(7)">Download
                            miễn phí</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalDownLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-down-head">
                Download Book
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-iframe">
                <iframe frameborder="0" class="input-box" height="500"
                        src="http://www.cjs.vn/subscribe/6d71d6c1a8b78c3b21616227e0c36b6a/" id="cjsform"></iframe>
            </div>

        </div>
    </div>
</div>