<!-- Start Home section -->
<style>
    .menu-box .navbar {
        background: linear-gradient(to right,#30a4d9,#35c3bf);
    }
    #home .home-section{
        margin-top: 71px;
    }
</style>
<div id="home" class="home-section">
    <section class="clearfix">

        <div id="flexCarousel" class="slider">

            <div class="flex-viewport" role="listbox">
                <ul class="slides">
                    <li class="slide">
                        <div class="slide-item-box" style="background-image: url('assests/imgs/1-a.jpg')">
                            <div class="slide-content content-slide-1">
                                <div class="container">
                                    <div class="slide-item-title text-center">
                                        <span class="slide-main-title slide-1-main-title">CLOUDJET KPI - SME PACKAGE</span>
                                        <div class="text-slide text-slide-1">
                                            GÓI ĐẦU TƯ THÔNG MINH NHẤT<br>
                                            CHO DOANH NGHIỆP NHỎ
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6 col-lg-6 float-right img-slide-box">
                                        <img src="assests/imgs/hero1.png" class="img-responsive"/>
                                    </div>-->
                                    <!--<div class="col-md-5 col-lg-5  col-md-offset-2 col-lg-offset-2">-->
                                        <!--<div class="slide-cap text-slide">
                                            <span class="caption-slide"><span class="cap-first">“</span>Gói đầu tư thông minh nhất<br>
                                        cho doanh nghiệp nhỏ <span class="cap-last">”</span></span>
                                        </div>-->
                                        <div class="reg-box">
                                            <a href="#contact" class="reg-bt">Đăng ký</a>
                                        </div>
                                    <!--</div>-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide-item-box" style="background-image: url('assests/imgs/2-a.jpg')">
                            <div class="slide-content content-slide-2">
                                <div class="container">
                                    <div class="slide-item-title text-center">
                                        <span class="slide-main-title slide-2-main-title">CLOUDJET KPI - SME PACKAGE</span><br>
                                        <!--<div class="text-slide">-->
                                        <span class="text-slide-2">ĐƠN GIẢN MÀ HIỆU QUẢ TRONG TRIỂN KHAI</span>
                                        <!--</div>-->
                                    </div>
                                    <!--<div class="col-md-6 col-lg-6 float-right img-slide-box">
                                        <img src="assests/imgs/hero2.png" class="img-responsive"/>
                                    </div>-->
                                    <!--<div class="col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2">-->
                                        <!--<div class="slide-cap text-slide">
                                            <span class="caption-slide"><span class="cap-first">“</span>
                                                Phương pháp tốt ưu & nhanh chóng
                                                để giúp bạn bắt đầu ứng dụng BSC&KPI sau 48 giờ.
                                                <span class="cap-last">”</span>
                                            </span>
                                        </div>-->
                                        <div class="reg-box">
                                            <a href="#contact" class="reg-bt">Đăng ký</a>
                                        </div>
                                   <!-- </div>-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide-item-box" style="background-image: url('assests/imgs/3-a.jpg')">
                            <div class="slide-content content-slide-3">
                                <div class="container">
                                    <div class="slide-item-title text-center">
                                        <span class="slide-main-title slide-3-main-title">CLOUDJET KPI - SME PACKAGE</span><br>
                                        <span class="text-slide-3">TẠO ĐỘNG LỰC MẠNH MẼ TRONG NỘI BỘ</span>
                                    </div>
                                    <!--<div class="col-md-6 col-lg-6 float-right img-slide-box">
                                    </div>-->
                                    <!--<div class="col-md-5 col-lg-5  col-md-offset-2 col-lg-offset-2">-->
                                        <!--<div class="slide-cap text-slide">
                                            <span class="caption-slide"><span class="cap-first">“</span>
                                                Tạo động lực mạnh mẽ trong nội bộ
                                                <span class="cap-last">”</span></span>
                                        </div>-->
                                        <div class="reg-box">
                                            <a href="#contact" class="reg-bt">Đăng ký</a>
                                        </div>
                                    <!--</div>-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide-item-box" style="background-image: url('assests/imgs/4-a.jpg')">
                            <div class="slide-content content-slide-4">
                                <div class="container">
                                    <div class="slide-item-title text-center">
                                        <span class="slide-main-title slide-3-main-title">CLOUDJET KPI - SME PACKAGE</span><br>
                                        <span class="text-slide-4"> DỄ DÀNG DUY TRÌ HỆ THỐNG VÀ KẾT NỐI ĐỒNG BỘ</span>
                                    </div>
                                    <!--<div class="col-md-6 col-lg-6 float-right img-slide-box">

                                    </div>-->
<!--                                    <div class="col-md-5 col-lg-5  col-md-offset-2 col-lg-offset-2">-->
                                        <!--<div class="slide-cap text-slide">
                                            <span class="caption-slide"><span class="cap-first">“</span>
                                             Dễ dàng duy trì hệ thống và kết nối đồng bộ
                                                <span class="cap-last">”</span></span>
                                        </div>-->
                                        <div class="reg-box">
                                            <a href="#contact" class="reg-bt">Đăng ký</a>
                                        </div>
                                    <!--</div>-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
</div>
<!-- End Home section -->
<div id="middle-menu">
    <section class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#sub-menu-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="sub-menu-collapse">
            <ul class="middle-menu">
                <li><a href="#optimize">Tổng quan</a></li>
                <li><a href="#building">Giá trị</a></li>
                <li><a href="#package">Gói dịch vụ</a></li>
                <li><a href="#scheme">Chi tiết</a></li>
                <li><a href="#contact">Đăng ký</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </section>
</div>

<!-- Start Features section -->
<div id="optimize">
    <section class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="opt-title">
                    GÓI DỊCH VỤ<br>
                    QUẢN TRỊ MỤC TIÊU THEO BSC-KPI CHO DOANH NGHIỆP NHỎ
                </h1>

                <div class="title-desc">
                    Là một giải pháp đơn giản nhưng hiệu quả trong việc giúp các doanh nghiệp nhỏ
                    có thể xây dựng và quản trị mục tiêu theo mô hình BSC-KPI, vì:
                </div>
            </div>
            <div class="row-fluid text-center opt-thumbs">
                <div class="col-md-4 col-lg-4 opt-item">
                    <div class="opt-app">
                        <div class="opt-item-title">
                            <div class="item-content">
                                Thiết kế phù hợp với doanh nghiệp quy mô 20-50 người
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 opt-item">
                    <div class="opt-app opt-kpi">
                        <div class="opt-item-title">
                            <div class="item-content">
                                Dễ dàng trong triển khai và duy trì hệ thống.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 opt-item">
                    <div class="opt-app opt-manage">
                        <div class="opt-item-title">
                            <div class="item-content">
                                Chỉ thanh toán khi đã hài lòng.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>
<!-- End Features section -->

<!--<div id="training">
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="opt-title">
                        HUẤN LUYỆN ĐỘI NGŨ QUẢN LÝ CẤP CAO CỦA BẠN<br>
                        QUẢN TRỊ MỤC TIÊU, THEO DÕI VÀ ĐÁNH GIÁ KPI ĐÚNG PHƯƠNG PHÁP
                    </h1>

                    <div class="title-desc">
                        Ứng dụng KPI đã trở thành 1 trong những công cụ quan trọng bật nhất trong quản trị hiện tại
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <ul>
                        <li class="train-bullet">
                            <span>1</span>
                        </li>
                        <li class="train-content">
                            <div class="train-box">
                                <span>Quản lý theo mục tiêu (KPI) thúc đẩy bộ máy cam kết và tự giác thực hiện mục tiêu.</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4">
                    <ul>
                        <li class="train-bullet">
                            <span>2</span>
                        </li>
                        <li class="train-content">
                            <div class="train-box">
                            <span>Thông qua KPI, mỗi nhân sự đều trả lời được <b>“Tại sao chúng ta lại đến công ty làm
                                việc mỗi buổi sáng?”</b></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-4">
                    <ul>
                        <li class="train-bullet">
                            <span>3</span>
                        </li>
                        <li class="train-content">
                            <div class="train-box">
                                <span>Tạo sự liên kết chặt chẽ từ mục tiêu công ty đến mục tiêu phòng ban và đến từng nhân viên.</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>-->

<!--<div id="difference">
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="opt-title">
                        KHÁC BIỆT
                    </h1>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="diff-content">
                        <img src="assests/imgs/diff1.jpg">
                    </div>
                    <div class="diff-desc">
                        1. Đây không phải là khóa đào tạo mang tính chất giới thiệu và truyền đạt kiến thức, mà là khoá
                        học
                        thực hành với những nội dung thực tế áp dụng cho chính trường hợp của doanh nghiệp của bạn.
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="diff-content diff-item2">
                        <img src="assests/imgs/diff2.jpg">
                    </div>
                    <div class="diff-desc">
                        2. Là khoá học ứng dụng trực tiếp công nghệ vào trong quá trình học, học viên thực hành trực
                        tiếp
                        trên laptop kết nối vào hệ thống Cloudjet KPI.
                    </div>

                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="diff-content diff-item3">
                        <img src="assests/imgs/diff3.jpg">
                    </div>
                    <div class="diff-desc">
                        3. Khoá học không chỉ kết thúc sau 2 ngày, mà sau khi học, học viên vẫn tiếp tục trao đổi với
                        những
                        tư vấn viên chuyên nghiệp từ Công ty Cloudjet Solutions và có tài khoản miễn phí để sử dụng
                        trong 06
                        tháng.
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
</div>-->

<div id="building">
    <section class="container">
        <div class="row">
            <div class="text-center build-head">
                <h1 class="opt-title">
                    KẾT QUẢ CÓ ĐƯỢC
                </h1>
            </div>

            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <ul class="result-content">
                    <li>
                        1 Một bản đồ chiến lược theo mô hình thẻ điểm cân bằng.
                    </li>
                    <li>
                        2 Số bộ chỉ tiêu KPI theo số lượng thành viên Ban điều hành.
                    </li>
                    <li>
                        3 Số bộ KPI theo vị trí chức danh quản lý
                    </li>
                    <li>
                        4 Quy chế đánh giá và ứng dụng hệ thống KPI
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div id="use">
    <section class="container">
        <div class="row">
            <div class="text-center build-head">
                <h1 class="opt-title">
                    HỆ THỐNG ĐƠN GIẢN, DỄ SỬ DỤNG, GIÚP VẬN HÀNH KPI HIỆU QUẢ
                </h1>

                <div class="title-desc">Chỉ vài click chuột, bạn có thể theo dõi một cách trực quan và chi tiết về hiệu suất làm việc <br>
                    của từng Bộ Phận, Nhân Viên hay từng nhóm mục tiêu & KPI Chiến lược.
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-x2-12">
                <img class="img-responsive" src="assests/imgs/Cloudjet-KPI-SME.png">
            </div>
        </div>
    </section>
</div>


<div id="package">
    <section class="container">
        <div class="row">
            <div class="text-center pack-title ">
                <h1 class="opt-title">
                    GIẢI PHÁP DỊCH VỤ
                </h1>
            </div>
        </div>
        <!--<div class="col-lg-6 col-md-6 pack2">
            <div class="pack-head">
                <span class="pack-title">ĐÀO TẠO VÀ TƯ VẤN</span>

                &lt;!&ndash;                <div class="pack-title-desc">
                                    <b>02 ngày</b> (huấn luyện)
                                </div>&ndash;&gt;
            </div>
            <div class="pack-content">
                <div class="pack-price2">
&lt;!&ndash;                        <span class="price-num">18,500,000</span> <span class="price-unit">VNĐ</span><span
                                class="price-vat"> (ĐÃ GỒM VAT)</span>
                        <span>
                            Đào tạo và tư vấn doanh nghiệp chuẩn hoá hệ thống mục tiêu thông qua phương pháp hiện đại,
                            tương tác trực tiếp với những tư vấn viên chuyên nghiệp đã thưc hiện trên
                            60 dự án với những loại mô hình doanh nghiệp khác nhau.
                        </span>&ndash;&gt;
                </div>
                <ul class="pack-desc">
                    <li>&nbsp;</li>
                    <li>
                        Đào tạo và tư vấn doanh nghiệp chuẩn hoá hệ thống mục tiêu thông qua phương pháp hiện đại,
                        tương tác trực tiếp với những tư vấn viên chuyên nghiệp đã thưc hiện trên
                        60 dự án với những loại mô hình doanh nghiệp khác nhau.
                    </li>
                    <li>
                        Giá trị có được:
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Bản đồ mục tiêu công ty theo mô hình BSC</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Bộ KPIs cấp công ty và phân công đến từng quản lý theo tiêu chuẩn SMART</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Bộ kế hoạch thực thi mẫu </span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Quy chế vận hành và khen thưởng theo KPI</span>
                    </li>

                    &lt;!&ndash;                    <li>
                                            Ghi chú:
                                            <span> + Học phí cho mỗi học viên bổ sung: 925.000 VND
                                                <br/>

                                                    + Không bao gồm chi phí đi lại ngoài TP. HCM
                                                <br/>
                                            </span>
                                        </li>&ndash;&gt;

                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 pack3">
            <div class="pack-head">
                <span class="pack-title">BỘ CÔNG CỤ</span>
                &lt;!&ndash;<div class="pack-title-desc">
                    <b>02 ngày</b> (huấn luyện)<br>
                    <b>+ 02 tuần</b> (Tư vấn & tinh chỉnh)
                </div>&ndash;&gt;
            </div>
            <div class="pack-content">
                <div class="pack-price2">
&lt;!&ndash;
                    <div class="main-price">
                        <span class="price-num">35,000,000</span> <span class="price-unit">VNĐ</span><span
                                class="price-vat"> (ĐÃ GỒM VAT)</span>
                    </div>
                    <span>Hệ thống quản trị mục tiêu và và theo dõi KPI Cloudjet KPI</span>
&ndash;&gt;
                </div>
                <ul class="pack-desc2">
                    <li>&nbsp;</li>
                    <li>
                        Hệ thống quản trị mục tiêu và và theo dõi KPI Cloudjet KPI
                    </li>
                    <li>
                        Đặc biệt, tư vấn kết nối và tự động hoá với
                        những hệ thống quản trị hiện đại khác nhau.
                    </li>
                    <li>
                        Hệ thống quản trị mục tiêu và và theo dõi KPI Cloudjet KPI
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Hệ thống truyền thông và giao tiếp nội bộ:  Discord </span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Hệ thống Báo cáo và lên kế hoạch công việc: TeamGantt hoặc Trello</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Bộ biểu mẫu thu thập dữ liệu KPIs cho những nhóm KPIs đặc biệt: 3 biểu mẫu </span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Hệ thống chăm sóc và quản lý khách hàng: SaleUp CRM</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Customer Inquiring Form: Discord</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Helpdesk (zendesk): Discord</span>
                    </li>
                    <li>
                        <i class="fa fa-check-square-o"></i>
                        <span>Kết nối số liệu từ phần mềm kế toán </span>
                    </li>
                    &lt;!&ndash;<li>
                        Ghi chú:
                        <span>+ Học phí cho mỗi học viên bổ sung: 1.750.000 VND 
                                <br/>
                                + Không bao gồm chi phí đi lại ngoài TP. HCM
                                <br/>
                                +  Thời lượng: 6h/mỗi ngày đào tạo. Sau khoá học, học viên sẽ được trao đổi với giảng viên qua Skype và đựoc cam kết trả lời trong vòng 24h . 
                                <br/>
                        </span>
                    </li>&ndash;&gt;
                </ul>
            </div>
        </div>-->
        <div class="row">
                <div class="col-md-12 giai-phap">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="tr">
                                <div class="td panel-heading-1">ĐÀO TẠO VÀ TƯ VẤN</div>
                                <div class="td panel-heading-2">BỘ CÔNG CỤ</div>
                            </div>
                        </div>
                        <div class="panel-body line-height-2">
                            <div class="tr">
                                <div class="td">
                                    &nbsp;<br>
                                    Đào tạo và tư vấn doanh nghiệp chuẩn hoá hệ thống mục tiêu thông qua phương pháp hiện đại,
                                    tương tác trực tiếp với những tư vấn viên chuyên nghiệp đã thưc hiện trên 60 dự án
                                    với những loại mô hình doanh nghiệp khác nhau.
                                    <br>
                                    Giá trị có được:
                                    <br>
                                    <ul style="list-style: none; -webkit-padding-start: 10px">
                                        <li>
                                            <i class="fa fa-check-square-o green-check"></i>
                                            <span>
                                                Bản đồ mục tiêu công ty theo mô hình BSC
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o green-check"></i>
                                            <span>
                                                Bộ KPIs cấp công ty và phân công đến từng quản lý theo tiêu chuẩn SMART
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o green-check"></i>
                                            <span>
                                                Bộ kế hoạch thực thi mẫu
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o green-check"></i>
                                            <span>
                                                Quy chế vận hành và khen thưởng theo KPI
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="td">
                                    &nbsp;<br>
                                    Hệ thống quản trị mục tiêu và và theo dõi KPI Cloudjet KPI
                                    <br>
                                    Đặc biệt, tư vấn kết nối và tự động hoá với những hệ thống quản trị hiện đại khác nhau.
                                    <br>
                                    <ul style="list-style: none; -webkit-padding-start: 10px">
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Hệ thống truyền thông và giao tiếp nội bộ:  Discord
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Hệ thống Báo cáo và lên kế hoạch công việc: TeamGantt hoặc Trello
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Bộ biểu mẫu thu thập dữ liệu KPIs cho những nhóm KPIs đặc biệt: 3 biểu mẫu
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Hệ thống chăm sóc và quản lý khách hàng: SaleUp CRM
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Customer Inquiring Form: Discord
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Helpdesk (zendesk): Discord
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check-square-o blue-check"></i>
                                            <span>
                                                Kết nối số liệu từ phần mềm kế toán
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="clearfix"></div>

    </section>
</div>


<!--<div id="customer">
    <section class="container">
        <div class="cus-head">
            <h2 class="opt-title">Khách hàng toàn cầu</h2>
        </div>
        <div class="row-fluid text-center">
            <div class="customer-slide carousel" id="customer-slider">
                <ul class="customer-list slides">
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Comscore" src="assests/imgs/comscore.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Ninh van bay" src="assests/imgs/ninhvanbay.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Grabtaxi" src="assests/imgs/grabtaxi.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Vmax" src="assests/imgs/vmax.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="ited" src="assests/imgs/ited.png">
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Phuong nam" src="assests/imgs/phuongnam.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Mekong" src="assests/imgs/mekong.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="ivc" src="assests/imgs/ivc.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="itracker" src="assests/imgs/itracker.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="dna digital" src="assests/imgs/dna.png">
                            </a>
                        </div>
                    </li>


                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Domino" src="assests/imgs/domino.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="kyna" src="assests/imgs/kyna.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="idp" src="assests/imgs/idp.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Thevoice" src="assests/imgs/thevoice.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Vinh Phat" src="assests/imgs/vinhphat.png">
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Viet an" src="assests/imgs/vietan.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Levis" src="assests/imgs/levis.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Acet" src="assests/imgs/acet.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="My gia lac" src="assests/imgs/mygialac.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Viet anh" src="assests/imgs/vietanh.png">
                            </a>
                        </div>
                    </li>


                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Ashico" src="assests/imgs/ashico.png">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="slide-item">
                            <a href="javascript:void(0)">
                                <img alt="Hand span" src="assests/imgs/handspan.png">
                            </a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </section>
</div>-->

<!-- Start Team section -->
<!--<div id="team">
    <section class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="opt-title">
                    Hình ảnh đào tạo
                </h1>
            </div>
            <div id="training-gallery-content">
                <div class="rows-table-sm" style="border-collapse:separate; border-spacing: 30px;">
                    <div class="row-table">
                        <div class="col-sm-4 col-table-4 col-align-top">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">1</div>
                                    <a href="assests/imgs/1.jpg"
                                       title="Đào tạo nội bộ cho Ban Giám Đốc / Cấp Quản Lý">
                                        <img class="img-responsive"
                                             src="assests/imgs/1.jpg"
                                             alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Đào tạo nội bộ cho Ban Giám Đốc / Cấp Quản Lý
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-table-4 col-align-top">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">2</div>
                                    <a href="assests/imgs/2.jpg"
                                       title="Thảo luận & thiết lập KPI"><img class="img-responsive"
                                                                              src="assests/imgs/2.jpg"
                                                                              alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Thảo luận & thiết lập KPI
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-table-4 col-align-top">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">3</div>
                                    <a href="assests/imgs/3.jpg"
                                       title="Trò chơi KPI"><img
                                                class="img-responsive"
                                                src="assests/imgs/3.jpg"
                                                alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Trò chơi KPI
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-table" style="">
                        <div class="col-sm-4 col-table-4 col-align-top ">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">4</div>
                                    <a href="assests/imgs/4.jpg"
                                       title="Thực hành trên hệ thống Cloudjet KPI"><img class="img-responsive"
                                                                                         src="assests/imgs/4.jpg"
                                                                                         alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Thực hành trên hệ thống Cloudjet KPI
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-table-4 col-align-top">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">5</div>
                                    <a href="assests/imgs/5.jpg"
                                       title="Phòng Ban thiếp lập KPI từ mục tiêu công ty"><img class="img-responsive"
                                                                                                src="assests/imgs/5.jpg"
                                                                                                alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Phòng Ban thiếp lập KPI từ mục tiêu công ty
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-table-4 col-align-top">
                            <div class="training-gallery-item">
                                <div class="training-thumb">
                                    <div class="thumb-index">6</div>
                                    <a href="assests/imgs/6.jpg"
                                       title="Thống nhất và trình bày KPI"><img class="img-responsive"
                                                                                src="assests/imgs/6.jpg"
                                                                                alt="feature">

                                        <div class="gallery-hover-left"></div>
                                        <div class="gallery-hover-right"></div>
                                        <div class="gallery-hover"><i class="zoom-icon fa fa-search-plus"></i></div>
                                    </a></div>
                                <div class="traning-title">
                                    Thống nhất và trình bày KPI
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>-->
<!-- End Team section -->

<div id="scheme">
    <section class="container">
        <div class="row">
            <div class="text-center">
                <h1 class="opt-title">
                    LỊCH TRÌNH THỰC HIỆN
                </h1>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="col-md-12 col-xs-12">
                <ul class="scheme-box   ">
                    <li class="scheme-box-title2">
                        <span class="date2">GIAI ĐOẠN CHUẨN BỊ: KHẢO SÁT & THU THẬP THÔNG TIN</span>
                    </li>
                    <li>
                        <h6>Thu thập tài liệu cần thiết cho dự án</h6>
                        <div class="scheme-item">
                            Sơ đồ tổ chức
                        </div>
                        <div class="scheme-item">
                            Hệ thống KPI đang áp dụng tại đơn vị
                        </div>
                        <div class="scheme-item">
                            Hệ thống mực tiêu chiến lược của công ty
                        </div>
                        <div class="scheme-item">
                            Phân tích doanh nghiệp nếu có (SWOT, PEST, 5 Forces)
                        </div>
                        <div class="scheme-item">
                            Báo cáo tình hình tài chính, hoạt động của DN
                        </div>
                        <div class="scheme-item">
                            Khảo sát công việc Trưởng Bộ Phận
                        </div>
                    </li>
                </ul>
            </div>
                <div class="col-md-12 col-xs-12">
                <ul class="scheme-box">
                    <li class="scheme-box-title2">
                        <span class="date2">GIAI ĐOẠN 1: XÂY DỰNG BẢN ĐỒ CHIẾN LƯỢC & KPI CÔNG TY</span>
                    </li>
                    <li>
                        <h6>Xây dựng Bản Đồ Chiến Lược & KPI Công ty</h6>
                        <div class="scheme-item">
                            Giới thiệu, đào tạo kiến thức về BSC - KPI
                        </div>
                        <div class="scheme-item">
                            Định hướng chiến lược dài hạn của Công ty
                        </div>
                        <div class="scheme-item">
                            Phân tích SWOT
                        </div>
                        <div class="scheme-item">
                            Xác định mục tiêu chiến lược năm của Công ty
                        </div>
                        <div class="scheme-item">
                            Xây dựng KPI Công ty dựa trên những Mục tiêu chiến lược
                        </div>
                        <div class="scheme-item">
                            Xác định mức độ quan trọng của từng Mục tiêu chiến lược
                        </div>
                    </li>
                    <li>
                        <h6>Thống nhất KPI Công ty & Xác định trọng số</h6>

                        <div class="scheme-item">
                            Giới thiệu, đào tạo kiến thức về BSC - KPI
                        </div>
                        <div class="scheme-item">
                            Thông qua bộ KPI đã thống nhất với Ban Giám Đốc
                        </div>
                        <div class="scheme-item">
                            Thống nhất bộ KPI: tên, đơn vị, phương pháp đo
                        </div>
                        <div class="scheme-item">
                            Thống nhất trọng số của từng KPI
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <ul class="scheme-box">
                    <li class="scheme-box-title2">
                        <span class="date2">GIAI ĐOẠN 2: XÂY DỰNG KPI TRƯỞNG BỘ PHẬN</span>
                    </li>
                    <li>
                        <h6>Phân công trách nhiệm - đào tạo xây dựng KPI Trưởng Bộ Phận</h6>
                        <div class="scheme-item">
                            Phân công bộ KPI công ty —> Trưởng BP theo mô hình RASCI
                        </div>
                        <div class="scheme-item">
                            Đào tạo phương pháp xây dựng KPI dựa trên khảo sát
                        </div>
                        <div class="scheme-item">
                            Đào tạo phương pháp xác định trọng số cho từng KPI
                        </div>
                        <div class="scheme-item">
                            Thời gian thực tập - Giải đáp thắc mắc
                        </div>
                    </li>
                    <li>
                        <h6>Trình bày bộ KPI Trưởng Bộ Phận - Đào tạo hệ thống</h6>

                        <div class="scheme-item">
                            Từng Trưởng Bộ Phận trình bày bộ KPI trước Ban Giám Đốc
                        </div>
                        <div class="scheme-item">
                            Đào tạo phương pháp vận hành hệ thống cho Ban Giám Đốc, Trưởng Bộ Phận & Ban KPI
                        </div>
                    </li>
                    <li>
                        <h6>Rà soát, báo cáo kết quả đánh giá </h6>

                        <div class="scheme-item">
                            Họp báo cáo kết quả đánh giá thử nghiệm & chốt dự án
                        </div>
                    </li>
                </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>


<div id="contact" class="contact-section">
    <section class="container">
        <div class="contact-head">
            <h1 class="opt-title">Đăng ký dịch vụ</h1>
        </div>

        <div class="input-box">

            <iframe frameborder="0" height="600" src="//www.cjs.vn/subscribe/aae9037a131b23c466016789c9512f16/"
                    id="cjsform"></iframe>
        </div>
        <div class="">
            <div class="hotline">Hoặc gọi ngay hotline để Cloudjet có thể tư vấn cho bạn</div>

            <div class="hotline-number">
                <p>028 668 08 662</p>
                <p>028 665 99 998</p>
            </div>
        </div>

    </section>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#flexCarousel').flexslider({
            animation: "slide",
            slideshow: true,
            smoothHeight: true,
            controlNav: true,
            animationLoop: true,
            slideshowSpeed: 4000,
            animationSpeed: 600
        });

        var $window = $(window),
            flexslider;

        // tiny helper function to add breakpoints
        function getGridSize() {
            return (window.innerWidth < 768) ? 1 :
                (window.innerWidth < 992) ? 3 :
                    (window.innerWidth < 1122) ? 4 : 5;
        }

        $window.load(function () {

            $('#customer-slider').flexslider({
                animation: "slide",
                slideshow: true,
                smoothHeight: false,
                controlNav: false,
                animationLoop: true,
                slideshowSpeed: 5000,
                animationSpeed: 600,
                itemWidth: 210,
                itemMargin: 5,
                minItems: getGridSize(),
                maxItems: getGridSize()
            });

        })
        // check grid size on resize event
        $window.resize(function () {
            var gridSize = getGridSize();

            //flexslider.vars.minItems = gridSize;
            //flexslider.vars.maxItems = gridSize;
        });

        //localStorage.ebook = 2;
    })

    $('#training-gallery-content').magnificPopup({
        delegate: 'a', // the selector for gallery item
        type: 'image',
        gallery: {
            enabled: true
        }
    });

    $(window).load(function () {
        var subMenuTop = $("#middle-menu").position().top;
        $(window).resize(function () {
            //subMenuTop = $("#middle-menu").position().top;
        });
        $(window).scroll(function () {
            var currentTop = $(window).scrollTop();
            if (subMenuTop < currentTop) {
                $("#middle-menu").addClass("sub-fix");
            } else {
                $("#middle-menu").removeClass("sub-fix");
                subMenuTop = $("#middle-menu").position().top;
            }
            //console.log($(window).scrollTop() + "  ;  " + subMenuTop);
        });
    });

    // smooth scroll
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

</script>


<!-- End Contact section -->