
<div>
    <div class="header__background">
    </div>
    <div class="main-about-us">
        <div class="container" style="margin-bottom: 120px">
            <div class="col-md-12 content_about_us">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <p class="dash-with-background"></p>

                        <div class="content_about_us__title">
                            VỀ CLOUDJET SOLUTIONS
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-with-background"></div>
                        <h3 class="content_about_us__introduce">
                            Quy trình đánh giá hiệu suất nhân viên,
                            khen thưởng và giữ chân nhân tài trở nên dễ dàng và chính xác hơn bao giờ hết.
                        </h3>
                        <div class="content_about_us__content">
                            <h4>
                                Cloudjet KPI là một nền tảng công nghệ giúp quy trình đánh giá KPI của doanh nghiệp đạt hiệu quả tối đa: từ khâu thiết lập mục tiêu, đến theo dõi và đo lường kết quả.
                            </h4>
                            <h4>
                                Với Cloudjet KPI, doanh nghiệp có thể ghi nhận chính xác thành tích và sự đóng góp của toàn thể đội ngũ nhân sự bao gồm đội ngũ bán hàng, lực lượng sản xuất và nhân viên khối văn phòng.
                            </h4>
                            <h4>
                                <b>Cloudjet Solutions</b> tin rằng một hệ thống đo lường KPI hiệu quả, chính xác sẽ là tiền đề vững chắc cho những quyết định đánh giá, ghi nhận thành tích đúng đắn và minh bạch, góp phần tạo nên môi trường làm việc hạnh phúc. Bởi khi nhân viên hạnh phúc, sự trung thành và động lực làm việc, cống hiến cho hiệu suất của công ty sẽ được nâng cao.
                            </h4>
                            <h4>
                                Đó là mối quan hệ nhân quả mà chúng tôi - Cloudjet Solutions luôn đặt sứ mệnh cho mình phải nuôi dưỡng và phát triển.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content_about_us_detail">
                <div class="row">
                    <div class="col-md-6 col-xs-12" style="padding-left:40px;">
                        <div class="dash-with-background"></div>
                        <h2 class="content_about_us_detail__title_block">Cloudjet Solutions<br/> và những con số</h2>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="content_about_us_detail__title_block_2">
                            <h1>15.000</h1>
                            <p>Nhân viên đang áp dụng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content_about_us_detail">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="content_about_us_detail__title_block_3">
                            <h1>100</h1>
                            <p>Dự án đã triển khai <br/> tại thị trường Việt Nam</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="content_about_us_detail__title_block_3">
                            <h1>> 10</h1>
                            <p>Lĩnh vực đặc thù <br/> ngành nghề khác nhau</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#about-cjs-active').addClass('active');
    })
</script>